
html {
	@include hyphens(auto);
}


.node-row-3,
.node-row-1,
.node-row-2,
#main-content,
#page-header {
	@include container;
	position:relative;
	max-width:1020px;
	min-width:0px;
}

.node-row-1 {
	margin-bottom: $metric-block-padding * 4;
}

#page-header-wrapper {
	@include column(2);
}




.chapter-col-1 {
	@include column(2);
}

.chapter-col-2 {
	@include column(4);
	@include last;
}

.node-cover {
	
	@include column(4);
	@include last;
	position: relative;
//	margin-left: span-fluid(2);
	min-height: $cover-height;
	height: 100%;
}

#cover-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}

.node-more {
	@include column(4);
	margin-left: span-fluid(2);
}

.node-user-menu {
	@include column(2);
}





.node-info {
	@include column(4);
	margin-left: span-fluid(2);
}

.node-desc-cont {
	@include column(4);
	margin-left: span-fluid(2);
}

.node-social-cont {
	@include column(2);
}

#content {
	@include column(4);
	margin-left: span-fluid(2);
}

#sidebar-group {
	@include column(2);
	@include last;
}