html {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#page {
	overflow: auto;
	position: absolute;
}

#page-header {
//	min-height: $cover-height;
}



//
//
//	BACKGROUND
//
//

#background-sky-container {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.background-sky {
	@extend .extend-fullscreen;
	position: absolute;
}

#background-sky-color {
	background-color:$color-sky;
}