/* responsive.custom.css is for custom media queries that are not set via the theme settings, such as cascading media queries.  By default all the other responsive stylesheets used in Adaptivetheme use a "stacking method", however cascading media queries use a waterfall method so you can leverage the cascade and inheritance for all browsers that support media queries, regardless of screen size.  @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack  NOTE: this file loads by default, to disable got to your theme settings and  look under the "CSS" settings tab. */
@font-face { font-family: "DIN Light"; src: url('../../_shared/fonts/DINLi6.ttf') format('truetype'); }

@font-face { font-family: "DIN Regular"; src: url('../../_shared/fonts/DINRe12.ttf') format('truetype'); }

@font-face { font-family: "DIN Bold"; src: url('../../_shared/fonts/DINBo3.ttf') format('truetype'); }

/*
$font-light:				Arial, Helvetica, sans-serif;
$font-regular:				Arial, Helvetica, sans-serif;
$font-bold:					Arial, Helvetica, sans-serif;
*/
/* ---------------- Buttons    ---------------- */
input.form-submit, a.button { background: white url(../images/buttons.png) 0 0 repeat-x; border: 1px solid #e4e4e4; border-bottom: 1px solid #b4b4b4; border-left-color: #d2d2d2; border-right-color: #d2d2d2; color: #3a3a3a; cursor: pointer; font-size: 10px; text-transform: uppercase; font-weight: normal; text-align: center; margin-bottom: 1em; margin-right: 0.6em; /* LTR */ padding: 4px 17px; -khtml-border-radius: 15px; -moz-border-radius: 20px; -webkit-border-radius: 15px; border-radius: 15px; }

a.button:link, a.button:visited, a.button:hover, a.button:focus, a.button:active { text-decoration: none; color: #5a5a5a; }

/* -------------- Form Elements   ------------- */
fieldset { background: #ffffff; border: 1px solid #cccccc; margin-top: 10px; margin-bottom: 32px; padding: 0 0 10px; position: relative; top: 12px; /* Offsets the negative margin of legends */ -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.fieldset-wrapper { margin-top: 25px; }

.node-form .vertical-tabs .fieldset-wrapper { margin-top: 0; }

.filter-wrapper { top: 0; padding: 20px; font-size: 12px; -khtml-border-radius-topright: 0; -khtml-border-radius-topleft: 0; -moz-border-radius-topright: 0; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

.filter-help a { font-size: 0.857em; padding: 2px 20px 0; }

.filter-wrapper .form-item label { margin-right: 10px; }

.filter-wrapper .form-item { padding: 0 0 0.5em 0.5em; }

.filter-guidelines { padding: 0 1.5em 0 0.5em; }

fieldset.collapsed { background: transparent; -khtml-border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

fieldset legend { background: #dbdbdb; border: 1px solid #ccc; border-bottom: none; color: #3b3b3b; display: block; height: 2em; left: -1px; /* LTR */ font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; line-height: 2; padding: 0; position: absolute; text-indent: 10px; text-shadow: 0 1px 0 #fff; top: -12px; width: 100%; -khtml-border-radius-topleft: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -khtml-border-radius-topright: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }

fieldset.collapsed legend { -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

fieldset legend a { color: #3b3b3b; }

fieldset legend a:hover, fieldset legend a:focus, fieldset legend a:active { color: #000; }

fieldset .fieldset-wrapper { padding: 0 10px; }

fieldset .fieldset-description { margin-top: 5px; margin-bottom: 1em; line-height: 1.4; color: #3c3c3c; font-style: italic; }

input { margin: 2px 0; padding: 4px; }

input, textarea { font-size: 0.929em; }

textarea { line-height: 1.5; }

textarea.form-textarea, select.form-select { padding: 4px; }

input.form-text, textarea.form-textarea, select.form-select { border: 1px solid #ccc; }

input.form-submit:hover, input.form-submit:focus { background: #dedede; }

.password-suggestions ul li { margin-left: 1.2em; /* LTR */ }

.form-item { margin-bottom: 1em; margin-top: 2px; }

.form-item label { font-size: 0.929em; }

.form-type-radio label, .form-type-checkbox label { margin-left: 4px; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2px; }

.form-actions { padding-top: 10px; }

/* Contact Form */
.contact-form #edit-name { width: 75%; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-mail { width: 75%; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-subject { width: 75%; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-message { width: 76.3%; -khtml-border-top-left-radius: 4px; -khtml-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

.contact-form .resizable-textarea .grippie { width: 76%; -khtml-border-bottom-left-radius: 4px; -khtml-border-bottom-right-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

/* Disabled form elements */
input.form-button-disabled, input.form-button-disabled:hover, input.form-button-disabled:focus, input.form-button-disabled:active, .form-disabled input, .form-disabled select, .form-disabled textarea { background: #ededed; border-color: #bbb; color: #717171; }

.form-disabled .grippie { background-color: #ededed; border-color: #bbb; }

.form-disabled label { color: #717171; }

/* Animated throbber */
html.js input.form-autocomplete { background-position: 100% 4px; /* LTR */ }

html.js input.throbbing { background-position: 100% -16px; /* LTR */ }

/* Comment form */
.comment-form label { float: left; /* LTR */ font-size: 12px; width: 120px; }

.comment-form input, .comment-form .form-select { margin: 0; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.comment-form .form-type-textarea label { float: none; }

.comment-form .form-item, .comment-form .form-radios, .comment-form .form-type-checkbox, .comment-form .form-select { margin-bottom: 10px; overflow: hidden; }

.comment-form .form-type-checkbox, .comment-form .form-radios { margin-left: 120px; /* LTR */ }

.comment-form .form-type-checkbox label, .comment-form .form-radios label { float: none; margin-top: 0; }

.comment-form input.form-file { width: auto; }

.no-sidebars .comment-form .form-text { width: 800px; }

.one-sidebar .comment-form .form-text { width: 500px; }

.two-sidebars .comment-form .form-text { width: 320px; }

.comment-form .form-item .description { font-size: 0.786em; line-height: 1.2; margin-left: 120px; /* LTR */ }

#content h2.comment-form { margin-bottom: 0.5em; }

.comment-form .form-textarea { -khtml-border-radius-topleft: 4px; -khtml-border-radius-topright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

.comment-form fieldset.filter-wrapper .fieldset-wrapper, .comment-form .text-format-wrapper .form-item { margin-top: 0; margin-bottom: 0; }

.filter-wrapper label { width: auto; float: none; }

.filter-wrapper .form-select { min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips { font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label { margin-bottom: 0.4em; }

#edit-actions input { margin-right: 0.6em; /* LTR */ }

/* -------------- Password Meter  ------------- */
.confirm-parent, .password-parent { width: 34em; }

.password-parent, div.form-item div.password-suggestions { position: relative; }

.password-strength-text, .password-strength-title, div.password-confirm { font-size: 0.82em; }

.password-strength-text { margin-top: 0.2em; }

div.password-confirm { margin-top: 2.2em; width: 20.73em; }

/* -------------- Other Overrides ------------- */
div.password-suggestions { border: 0; }

.ui-widget-overlay { background: #222222; opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane { padding: 1em; }

#forum .name { font-size: 1.083em; }

#forum .description { font-size: 1em; }

/* TipTip CSS - Version 1.2 */
#tiptip_holder { display: none; position: absolute; top: 0; left: 0; z-index: 99999; }

#tiptip_holder.tip_top { padding-bottom: 5px; }

#tiptip_holder.tip_bottom { padding-top: 5px; }

#tiptip_holder.tip_right { padding-left: 5px; }

#tiptip_holder.tip_left { padding-right: 5px; }

#tiptip_content { font-size: 11px; color: #fff; text-shadow: 0 0 2px #000; padding: 4px 8px; border: 1px solid rgba(255, 255, 255, 0.25); background-color: #191919; background-color: rgba(25, 25, 25, 0.92); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(black)); border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: 0 0 3px #555; -webkit-box-shadow: 0 0 3px #555; -moz-box-shadow: 0 0 3px #555; }

#tiptip_content { color: #FFF; }
#tiptip_content a { text-decoration: none; color: #999999; }
#tiptip_content a:hover { text-decoration: underline; }
#tiptip_content a:visited { color: #999999; }
#tiptip_content a:focus { color: #e6e6e6; }
#tiptip_content a:hover { color: #e6e6e6; }
#tiptip_content a:active { color: #4c4c4c; }
#tiptip_content a.active { color: #4c4c4c; text-decoration: none; }

#tiptip_title { text-transform: uppercase; font-size: 12px; font-family: "DIN Bold", Arial, Helvetica, sans-serif; font-weight: bold; }

#tiptip_description { margin-top: 5px; text-transform: uppercase; color: #eeeeee; font-size: 10px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; font-weight: normal; }
#tiptip_description .client-project-header { color: white; font-family: "DIN Bold", Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 10px; }

#tiptip_arrow, #tiptip_arrow_inner { position: absolute; border-color: transparent; border-style: solid; border-width: 6px; height: 0; width: 0; }

#tiptip_holder.tip_top #tiptip_arrow { border-top-color: #fff; border-top-color: rgba(255, 255, 255, 0.35); }

#tiptip_holder.tip_bottom #tiptip_arrow { border-bottom-color: #fff; border-bottom-color: rgba(255, 255, 255, 0.35); }

#tiptip_holder.tip_right #tiptip_arrow { border-right-color: #fff; border-right-color: rgba(255, 255, 255, 0.35); }

#tiptip_holder.tip_left #tiptip_arrow { border-left-color: #fff; border-left-color: rgba(255, 255, 255, 0.35); }

#tiptip_holder.tip_top #tiptip_arrow_inner { margin-top: -7px; margin-left: -6px; border-top-color: #191919; border-top-color: rgba(25, 25, 25, 0.92); }

#tiptip_holder.tip_bottom #tiptip_arrow_inner { margin-top: -5px; margin-left: -6px; border-bottom-color: #191919; border-bottom-color: rgba(25, 25, 25, 0.92); }

#tiptip_holder.tip_right #tiptip_arrow_inner { margin-top: -6px; margin-left: -5px; border-right-color: #191919; border-right-color: rgba(25, 25, 25, 0.92); }

#tiptip_holder.tip_left #tiptip_arrow_inner { margin-top: -6px; margin-left: -7px; border-left-color: #191919; border-left-color: rgba(25, 25, 25, 0.92); }

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio: 0) { #tiptip_content { padding: 4px 8px 5px 8px; background-color: rgba(45, 45, 45, 0.88); }
  #tiptip_holder.tip_bottom #tiptip_arrow_inner { border-bottom-color: rgba(45, 45, 45, 0.88); }
  #tiptip_holder.tip_top #tiptip_arrow_inner { border-top-color: rgba(20, 20, 20, 0.92); } }
.node .node-block-teaser { margin-bottom: 80px; }
.node .node-block-teaser .node-image { width: 41.60256%; float: left; height: auto; position: relative; }
.node .node-block-teaser .node-info { width: 100%; margin-left: 0px; float: left; }
.node .node-block-teaser .node-info .user-picture { clear: left; float: left; margin-right: 10px; }
.node .node-block-teaser .node-info .submitted p { padding: 0px; margin: 0px; }
.node .node-block-teaser .node-info .node-header .node-title { line-height: 1em; }
.node .node-block-teaser .node-info .field-name-field-level { padding: 0px; margin: 0px; display: inline-block; }
.node .node-block-teaser .node-info .field-name-field-level h2 { padding: 0px; margin: 0px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; font-weight: normal; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type { padding: 0px; margin: 0px; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items { padding: 0px; margin: 0px; margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 0px; padding-right: 0px; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li:first-child, .node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li.first { padding-left: 0; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li:last-child { padding-right: 0; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li.last { padding-right: 0; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li + li:before { content: "/"; margin-left: 5px; margin-right: 5px; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items > li.field-item a { text-decoration: none; color: #246ca0; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items > li.field-item a:hover { text-decoration: underline; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items > li.field-item a:visited { color: #246ca0; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items > li.field-item a:focus { color: #7cb7e1; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items > li.field-item a:hover { color: #7cb7e1; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items > li.field-item a:active { color: #123650; }
.node .node-block-teaser .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items > li.field-item a.active { color: #123650; text-decoration: none; }
.node .node-block-teaser .node-info .node-content { margin-top: 40px; margin-bottom: 40px; }
.node.taxonomy-term .node-block-full .node-info { clear: both; }
.node.taxonomy-term .node-block-full .node-info .concern-by { padding: 0px; margin: 0px; margin-top: 60px; display: block; color: #666666; font-size: 24px; }
50 .node.node-page .node-block-full .node-info { float: left; clear: both; }
50 .node.node-page .node-block-full .node-info .node-content { padding: 0px; margin: 0px; }
50 .node.node-page .node-block-full .node-info .field-name-field-body { padding: 0px; margin: 0px; clear: both; }
.node .node-block-agency_homepage.node-comments, .node .node-block-full.node-comments { margin-top: 120px; }
.node .node-block-agency_homepage.node-comments .node-comment-list .indented, .node .node-block-full.node-comments .node-comment-list .indented { padding: 0px; margin: 0px; padding-left: 106.66667px; background-color: rgba(255, 255, 255, 0.5); }
.node .node-block-agency_homepage.node-comments .node-comment-list .comment, .node .node-block-full.node-comments .node-comment-list .comment { padding: 53.33333px; color: #666666; background-color: #FFF; }
.node .node-block-agency_homepage.node-comments .node-comment-list .comment .comment-content, .node .node-block-full.node-comments .node-comment-list .comment .comment-content { clear: both; }
.node .node-block-agency_homepage.node-comments .node-comment-list .comment .user-picture, .node .node-block-full.node-comments .node-comment-list .comment .user-picture { float: left; margin-right: 53.33333px; margin-bottom: 53.33333px; }
.node .node-block-agency_homepage.node-comments .node-comment-list .comment.comment-by-node-author, .node .node-block-full.node-comments .node-comment-list .comment.comment-by-node-author { color: #666666; background-color: rgba(179, 215, 231, 0.5); }
.node .node-block-agency_homepage.node-comments .node-comment-list .comment.comment-by-node-author .comment-content, .node .node-block-full.node-comments .node-comment-list .comment.comment-by-node-author .comment-content { font-family: "DIN Bold", Arial, Helvetica, sans-serif; font-weight: bold; text-shadow: rgba(255, 255, 255, 0.4) 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px 0px 5px; }
.node .node-block-agency_homepage.node-comments .node-new-comment .comment-wrapper, .node .node-block-full.node-comments .node-new-comment .comment-wrapper { padding: 0px; margin: 0px; }
.node .node-block-agency_homepage .node-info, .node .node-block-full .node-info { width: 100%; margin-top: 40px; }
.node .node-block-agency_homepage .node-info .user-picture, .node .node-block-full .node-info .user-picture { clear: left; float: left; margin-right: 10px; margin-bottom: 20px; }
.node .node-block-agency_homepage .node-info .submitted p, .node .node-block-full .node-info .submitted p { padding: 0px; margin: 0px; }
.node .node-block-agency_homepage .node-info .historique h3, .node .node-block-full .node-info .historique h3 { display: none; }
.node .node-block-agency_homepage .node-info .historique dl, .node .node-block-full .node-info .historique dl { padding: 0px; margin: 0px; }
.node .node-block-agency_homepage .node-info .historique dl dt, .node .node-block-full .node-info .historique dl dt { padding: 0px; margin: 0px; display: inline-block; }
.node .node-block-agency_homepage .node-info .historique dl dd, .node .node-block-full .node-info .historique dl dd { padding: 0px; margin: 0px; display: inline-block; }
.node .node-block-agency_homepage .node-info .node-header span, .node .node-block-full .node-info .node-header span { color: #246ca0; }
.node .node-block-agency_homepage .node-info .node-header .node-title, .node .node-block-full .node-info .node-header .node-title { line-height: 1em; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference.field-name-field-type, .node .node-block-full .node-info .field-type-taxonomy-term-reference.field-name-field-type { padding: 0px; margin: 0px; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items, .node .node-block-full .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items { padding: 0px; margin: 0px; margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li, .node .node-block-full .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 0px; padding-right: 0px; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li:first-child, .node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li.first, .node .node-block-full .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li:first-child, .node .node-block-full .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li.first { padding-left: 0; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li:last-child, .node .node-block-full .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li:last-child { padding-right: 0; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li.last, .node .node-block-full .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li.last { padding-right: 0; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li + li:before, .node .node-block-full .node-info .field-type-taxonomy-term-reference.field-name-field-type ul.field-items li + li:before { content: "/"; margin-left: 5px; margin-right: 5px; }
.node .node-block-agency_homepage .node-info .field-name-field-level, .node .node-block-full .node-info .field-name-field-level { padding: 0px; margin: 0px; display: inline-block; }
.node .node-block-agency_homepage .node-info .field-name-field-level h2, .node .node-block-full .node-info .field-name-field-level h2 { padding: 0px; margin: 0px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; font-weight: normal; }
.node .node-block-agency_homepage .node-info .field-name-field-body, .node .node-block-agency_homepage .node-info .field-name-body, .node .node-block-full .node-info .field-name-field-body, .node .node-block-full .node-info .field-name-body { margin-top: 20px; }
.node .node-block-agency_homepage .node-info .field-name-field-body .field-item, .node .node-block-agency_homepage .node-info .field-name-body .field-item, .node .node-block-full .node-info .field-name-field-body .field-item, .node .node-block-full .node-info .field-name-body .field-item { -webkit-column-count: 1; -moz-column-count: 1; -ms-column-count: 1; -o-column-count: 1; column-count: 1; text-align: left; }
.node .node-block-agency_homepage .node-info .field-name-field-body .field-item p:first-child:first-letter, .node .node-block-agency_homepage .node-info .field-name-body .field-item p:first-child:first-letter, .node .node-block-full .node-info .field-name-field-body .field-item p:first-child:first-letter, .node .node-block-full .node-info .field-name-body .field-item p:first-child:first-letter { font-size: inherit; line-height: inherit; font-weight: inherit; float: none; vertical-align: inherit; }
.node .node-block-agency_homepage .node-info .field-name-field-video, .node .node-block-full .node-info .field-name-field-video { margin-top: 20px; clear: both; display: block; }
.node .node-block-agency_homepage .node-info .field-name-field-background, .node .node-block-full .node-info .field-name-field-background { margin-top: 20px; }
.node .node-block-agency_homepage .node-info .field-name-field-background + .field-name-field-link, .node .node-block-full .node-info .field-name-field-background + .field-name-field-link { margin-top: 20px; }
.node .node-block-agency_homepage .node-info .field-name-field-background + .field-name-field-gallery, .node .node-block-full .node-info .field-name-field-background + .field-name-field-gallery { margin-top: 0px; }
.node .node-block-agency_homepage .node-info .profile2-no-data, .node .node-block-full .node-info .profile2-no-data { margin-top: 20px; display: block; }
.node .node-block-agency_homepage .node-info .node-contact, .node .node-block-full .node-info .node-contact { margin-top: 60px; }
.node .node-block-agency_homepage .node-info .field-name-field-projet, .node .node-block-full .node-info .field-name-field-projet { margin-top: 20px; }
.node .node-block-agency_homepage .node-info .field-name-field-expertise, .node .node-block-agency_homepage .node-info .field-name-field-formation, .node .node-block-agency_homepage .node-info .field-name-field-link, .node .node-block-full .node-info .field-name-field-expertise, .node .node-block-full .node-info .field-name-field-formation, .node .node-block-full .node-info .field-name-field-link { margin-top: 20px; }
.node .node-block-agency_homepage .node-info .field-name-field-expertise + .field-name-field-gallery, .node .node-block-agency_homepage .node-info .field-name-field-formation + .field-name-field-gallery, .node .node-block-agency_homepage .node-info .field-name-field-link + .field-name-field-gallery, .node .node-block-full .node-info .field-name-field-expertise + .field-name-field-gallery, .node .node-block-full .node-info .field-name-field-formation + .field-name-field-gallery, .node .node-block-full .node-info .field-name-field-link + .field-name-field-gallery { margin-top: 40px; }
.node .node-block-agency_homepage .node-info .field-name-field-gallery, .node .node-block-full .node-info .field-name-field-gallery { margin-top: 20px; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference, .node .node-block-full .node-info .field-type-taxonomy-term-reference { margin-top: 20px; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference + .field-type-taxonomy-term-reference, .node .node-block-full .node-info .field-type-taxonomy-term-reference + .field-type-taxonomy-term-reference { margin-top: 5px; }
.node .node-block-agency_homepage .node-info .field-name-field-agency ~ .field-name-field-client, .node .node-block-full .node-info .field-name-field-agency ~ .field-name-field-client { float: left; }
.node .node-block-agency_homepage .node-info .sharethis-buttons, .node .node-block-full .node-info .sharethis-buttons { margin-top: 40px; }
.node .node-block-agency_homepage .node-info .field-name-field-link .field-items, .node .node-block-full .node-info .field-name-field-link .field-items { padding: 0px; margin: 0px; list-style: none outside none; }
.node .node-block-agency_homepage .node-info .field-name-field-link .field-items > * > a, .node .node-block-agency_homepage .node-info .field-name-field-link .field-items > * > .no-link, .node .node-block-full .node-info .field-name-field-link .field-items > * > a, .node .node-block-full .node-info .field-name-field-link .field-items > * > .no-link { padding: 0px; margin: 0px; display: block; }
.node .node-block-agency_homepage .node-info .field-name-field-link .field-items > *.even, .node .node-block-full .node-info .field-name-field-link .field-items > *.even { padding: 0px; margin: 0px; padding: 5px; border-top: thin solid rgba(217, 217, 217, 0.515); border-bottom: thin solid rgba(255, 255, 255, 0.5); background-color: rgba(238, 238, 238, 0.5); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(238, 238, 238, 0)), color-stop(100%, rgba(238, 238, 238, 0.2))); background-image: -webkit-linear-gradient(rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.2)); background-image: -moz-linear-gradient(rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.2)); background-image: -o-linear-gradient(rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.2)); background-image: linear-gradient(rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.2)); }
.node .node-block-agency_homepage .node-info .field-name-field-link .field-items > *.odd, .node .node-block-full .node-info .field-name-field-link .field-items > *.odd { padding: 0px; margin: 0px; padding: 5px; border-top: thin solid rgba(233, 233, 233, 0.515); border-bottom: thin solid rgba(255, 255, 255, 0.5); background-color: rgba(255, 255, 255, 0.5); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.2))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); }
.node .node-block-agency_homepage .node-info .uneak-taxo-note .uneak-taxo-image, .node .node-block-full .node-info .uneak-taxo-note .uneak-taxo-image { clear: left; float: left; margin-right: 10px; margin-bottom: 10px; }
.node .node-block-agency_homepage .node-info .uneak-taxo-note .uneak-taxo-title, .node .node-block-full .node-info .uneak-taxo-note .uneak-taxo-title { float: left; border: 0; line-height: 20px; padding: 0px; margin: 0px; color: #246ca0; }
.node .node-block-agency_homepage .node-info .uneak-taxo-note .uneak-taxo-note, .node .node-block-full .node-info .uneak-taxo-note .uneak-taxo-note { line-height: 20px; padding: 0px; margin: 0px; margin-left: 10px; float: left; }
.node .node-block-agency_homepage .node-info .uneak-taxo-note .uneak-taxo-description, .node .node-block-full .node-info .uneak-taxo-note .uneak-taxo-description { clear: both; }
.node .node-block-agency_homepage .node-info .field-name-field-gallery, .node .node-block-full .node-info .field-name-field-gallery { overflow: hidden; *zoom: 1; }
.node .node-block-agency_homepage .node-info .field-name-field-gallery .field-items .field-item, .node .node-block-full .node-info .field-name-field-gallery .field-items .field-item { width: 50%; float: left; line-height: 0px; background: #EEE; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference, .node .node-block-full .node-info .field-type-taxonomy-term-reference { margin-bottom: 0px; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference ul, .node .node-block-full .node-info .field-type-taxonomy-term-reference ul { padding: 0px; margin: 0px; overflow: hidden; *zoom: 1; float: none; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference.field-label-inline li.field-item, .node .node-block-full .node-info .field-type-taxonomy-term-reference.field-label-inline li.field-item { float: left; list-style: none outside none; padding: 0px; margin: 0px; margin-right: 5px; margin-bottom: 5px; }
.node .node-block-agency_homepage .node-info .field-type-taxonomy-term-reference h2.field-label, .node .node-block-full .node-info .field-type-taxonomy-term-reference h2.field-label { display: inline; float: left; padding: 0px; margin: 0px; margin-right: 5px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; font-weight: normal; line-height: 30px; width: 70px; white-space: nowrap; font-size: 10px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; font-weight: normal; padding-left: 10px; padding-right: 10px; }
.node .node-block-agency_homepage .node-info .node-content, .node .node-block-full .node-info .node-content { margin-top: 40px; margin-bottom: 40px; }

/*
.taxo-icon {
	
	border:0px;
	@include clearfix();
	@include background-button();
	text-align:center;
	display:inline-block;
	
	margin-top: 2px;
	margin-bottom: 2px;
		
	.taxo-title {
		//display:none;
		ul.links.inline {
			display:inline-block;
		}
	}
	
	img {
		line-height:20px;
		vertical-align: middle;
	}
	
	.taxo-description {
		line-height:1.5em;
	}
	
	& > * a {
		@include make-button-light($color-background-normal);
		margin-right:1px;
		padding-left:10px;
		padding-right:10px;
		line-height:28px;
	}

	& > *:first-child a {
		margin-left:1px;
		@include border-top-left-radius(15px);
		@include border-bottom-left-radius(15px);
	}
	& > *:last-child a {
		margin-right:1px;
		@include border-top-right-radius(15px);
		@include border-bottom-right-radius(15px);
	}
}
*/
.field-collection-container { padding: 0px; margin: 0px; border: 0px; }

.profile.node .node-block-full .node-info .field-name-field-projet > .field-items > .field-item .node .node-info .submitted { display: none; }

.profile.node .node-block-full .node-info .field-type-entityreference, .profile.node .node-block-full .node-info .field-type-field-collection { padding: 0px; margin: 0px; margin-top: 80px; }
.profile.node .node-block-full .node-info .field-type-entityreference h2.field-label, .profile.node .node-block-full .node-info .field-type-field-collection h2.field-label { font-size: 12px; line-height: 30px; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items { padding: 0px; margin: 0px; list-style: none outside none; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > * > a, .profile.node .node-block-full .node-info .field-type-entityreference > .field-items > * > .no-link, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > * > a, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > * > .no-link { padding: 0px; margin: 0px; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > *.even, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > *.even { padding: 0px; margin: 0px; padding: 10px; border-top: thin solid rgba(217, 217, 217, 0.515); border-bottom: thin solid rgba(255, 255, 255, 0.5); background-color: rgba(238, 238, 238, 0.5); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(238, 238, 238, 0)), color-stop(100%, rgba(238, 238, 238, 0.2))); background-image: -webkit-linear-gradient(rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.2)); background-image: -moz-linear-gradient(rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.2)); background-image: -o-linear-gradient(rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.2)); background-image: linear-gradient(rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.2)); }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > *.odd, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > *.odd { padding: 0px; margin: 0px; padding: 10px; border-top: thin solid rgba(233, 233, 233, 0.515); border-bottom: thin solid rgba(255, 255, 255, 0.5); background-color: rgba(255, 255, 255, 0.5); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.2))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)); }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .field-collection-view, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .field-collection-view { margin: inherit; padding: inherit; border: 0; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .field-collection-view > *, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .field-collection-view > * { margin: inherit; padding: inherit; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .field-collection-view > *.even, .profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .field-collection-view > *.odd, .profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .field-collection-view > *:hover, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .field-collection-view > *.even, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .field-collection-view > *.odd, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .field-collection-view > *:hover { background-color: inherit; border: 0; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .entity-field-collection-item .field-name-field-title, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .entity-field-collection-item .field-name-field-title { font-family: "DIN Regular", Arial, Helvetica, sans-serif; font-weight: normal; color: #246ca0; font-size: 24px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; font-weight: normal; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .entity-field-collection-item .field-name-field-type, .profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .entity-field-collection-item .field-name-field-technology, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .entity-field-collection-item .field-name-field-type, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .entity-field-collection-item .field-name-field-technology { padding: 0px; margin: 0px; /*					
					.taxo-icon {
						white-space:inherit;
						@include reset-margin-padding();
						border:0;
						@include background-image(none);
						@include text-shadow(none);
						
						img {
							clear:left;
							float:left;
							margin-right:10px;
							margin-bottom:10px;
							&+span { @include reset-margin-padding(); }
						}
						
						.taxo-title {
							line-height:20px;
							float:left;
							@include font-regular();
							color:$color-sky;
							//text-transform:uppercase;
							font-size:$font-size-title;
							@include font-regular();
						}
						
						.taxo-description {
							clear:both;
							display: block;
						}
					}
					
*/ }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .entity-field-collection-item .field-name-field-level, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .entity-field-collection-item .field-name-field-level { display: block; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .entity-field-collection-item .field-name-field-level h2.field-label, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .entity-field-collection-item .field-name-field-level h2.field-label { width: auto; text-shadow: none; line-height: 20px; font-size: 10px; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .entity-field-collection-item .field-name-field-level .field-items, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .entity-field-collection-item .field-name-field-level .field-items { line-height: 20px; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .entity-field-collection-item .field-name-field-body, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .entity-field-collection-item .field-name-field-body { padding: 0px; margin: 0px; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .entity-field-collection-item .field-name-field-body .field-item, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .entity-field-collection-item .field-name-field-body .field-item { -webkit-column-count: 1; -moz-column-count: 1; -ms-column-count: 1; -o-column-count: 1; column-count: 1; text-align: left; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .entity-field-collection-item .field-name-field-body .field-item p:first-child:first-letter, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .entity-field-collection-item .field-name-field-body .field-item p:first-child:first-letter { font-size: inherit; line-height: inherit; font-weight: inherit; float: none; vertical-align: inherit; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .node .node-image, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .node .node-image { width: auto; height: auto; float: left; margin-right: 10px; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .node .node-image .cover-image:after, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .node .node-image .cover-image:after { content: none; display: none; background-image: none; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .node .node-info, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .node .node-info { margin-bottom: 40px; margin-top: 40px; min-height: 75px; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .node .node-info .node-content, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .node .node-info .node-content { margin-bottom: 10px; margin-top: 10px; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .node .node-info .node-content .sharethis-buttons, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .node .node-info .node-content .sharethis-buttons { display: none; }
.profile.node .node-block-full .node-info .field-type-entityreference > .field-items > .field-item .node .node-info .node-content .field-name-body, .profile.node .node-block-full .node-info .field-type-field-collection > .field-items > .field-item .node .node-info .node-content .field-name-body { margin-top: 0px; }

/*
.item-list {
	
	& > ul.pager {
		@include make-lil-button-bar();
		line-height: normal;
		
		.pager-current {
			background-color:transparent;
			padding-left:8px;
			padding-right:8px;
			line-height:25px;
			@include link-colors($color-light, $color-light, $color-light, $color-light, $color-light);
		}
	}
}
*/
.center-align { text-align: center; }

ul.vocab, .link-label { margin: 0px; padding: 0px; }

.link-label { font-size: 24px; text-decoration: none; margin-right: 10px; }

ul.vocab ul { padding: 0px; margin: 0px; padding-bottom: 4px; clear: both; }

ul.vocab ul.term { padding: 0px; margin: 0px; padding-bottom: 20px; padding-top: 16px; clear: both; }

.link-label a:link, .link-label a:visited { color: #FFFFFF; text-decoration: none; }

.link-label a:hover, .link-label a:active { color: #CCCCCC; text-decoration: underline; }

.link-items, .link-label { list-style-type: none; float: left; }

.link-desc { list-style-type: none; margin: 0px; padding-top: 10px; padding-bottom: 10px; }

.lt-ie9 .link-desc { background: transparent; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF); zoom: 1; }

.link-items { margin-right: 2px; margin-bottom: 2px; }

ul.links li.node-readmore { padding: 0px; }

.taxonomy-icon { width: 80px; height: 90px; }

.taxo-icon { height: 54px; line-height: 54px; display: inline-block; }
.node.node-color-normal .taxo-icon a { color: white; text-shadow: none; text-decoration: none; color: white; }
.node.node-color-normal .taxo-icon a:hover { text-decoration: underline; }
.node.node-color-normal .taxo-icon a:visited { color: white; }
.node.node-color-normal .taxo-icon a:focus { color: white; }
.node.node-color-normal .taxo-icon a:hover { color: white; }
.node.node-color-normal .taxo-icon a:active { color: #7f7f7f; }
.node.node-color-normal .taxo-icon a.active { color: #7f7f7f; text-decoration: none; }
.taxo-icon > * { display: inline-block; vertical-align: top; }
.taxo-icon.is-image > .taxo-img { background-image: url('../../_shared/images/button-grey-mid.png?1353721658'); background-repeat: repeat-x; background-position: top right; }
.taxo-icon.is-image > .taxo-img img { padding-left: 10px; padding-right: 10px; display: inline-block; vertical-align: middle; }
.taxo-icon.is-image:before { display: inline-block; height: 54px; width: 5px; content: ""; background-image: url('../../_shared/images/button-grey-left.png?1353721313'); background-repeat: no-repeat; background-position: bottom left; }
.taxo-icon.is-image:after { display: inline-block; height: 54px; width: 5px; content: ""; background-image: url('../../_shared/images/button-grey-right.png?1353759631'); background-repeat: no-repeat; background-position: top right; }
.taxo-icon.is-title > .taxo-title a { display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 10px; background-image: url('../../_shared/images/button-black-mid.png?1353721619'); background-repeat: repeat-x; background-position: top right; }
.taxo-icon.is-title:before { display: inline-block; height: 54px; width: 5px; content: ""; background-image: url('../../_shared/images/button-black-left.png?1353759678'); background-repeat: no-repeat; background-position: bottom left; }
.taxo-icon.is-title:after { display: inline-block; height: 54px; width: 5px; content: ""; background-image: url('../../_shared/images/button-black-right.png?1353721702'); background-repeat: no-repeat; background-position: top right; }
.taxo-icon.is-image.is-title > .taxo-title a { display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 10px; background-image: url('../../_shared/images/button-black-mid.png?1353721619'); background-repeat: repeat-x; background-position: top right; }
.taxo-icon.is-image.is-title > .taxo-img { background-image: url('../../_shared/images/button-grey-mid.png?1353721658'); background-repeat: repeat-x; background-position: top right; }
.taxo-icon.is-image.is-title > .taxo-img img { padding-left: 10px; padding-right: 10px; display: inline-block; vertical-align: middle; }
.taxo-icon.is-image.is-title:before { display: inline-block; height: 54px; width: 5px; content: ""; background-image: url('../../_shared/images/button-grey-left.png?1353721313'); background-repeat: no-repeat; background-position: bottom left; }
.taxo-icon.is-image.is-title:after { display: inline-block; height: 54px; width: 5px; content: ""; background-image: url('../../_shared/images/button-black-right.png?1353721702'); background-repeat: no-repeat; background-position: top right; }
.out .node.node-color-normal .taxo-icon a { text-shadow: none; text-decoration: none; color: rgba(255, 255, 255, 0.4); }
.out .node.node-color-normal .taxo-icon a:hover { text-decoration: underline; }
.out .node.node-color-normal .taxo-icon a:visited { color: rgba(255, 255, 255, 0.4); }
.out .node.node-color-normal .taxo-icon a:focus { color: rgba(255, 255, 255, 0.4); }
.out .node.node-color-normal .taxo-icon a:hover { color: rgba(255, 255, 255, 0.4); }
.out .node.node-color-normal .taxo-icon a:active { color: rgba(50, 50, 50, 0.7); }
.out .node.node-color-normal .taxo-icon a.active { color: rgba(50, 50, 50, 0.7); text-decoration: none; }
.out .taxo-icon.is-image > .taxo-img { background-image: url('../../_shared/images/button-mid.png?1353714914'); }
.out .taxo-icon.is-image:before { background-image: url('../../_shared/images/button-left.png?1353714876'); }
.out .taxo-icon.is-image:after { background-image: url('../../_shared/images/button-right.png?1353714960'); }
.out .taxo-icon.is-title > .taxo-title a { background-image: url('../../_shared/images/button-mid.png?1353714914'); }
.out .taxo-icon.is-title:before { background-image: url('../../_shared/images/button-left.png?1353714876'); }
.out .taxo-icon.is-title:after { background-image: url('../../_shared/images/button-right.png?1353714960'); }
.out .taxo-icon.is-image.is-title > .taxo-title a { background-image: url('../../_shared/images/button-mid.png?1353714914'); }
.out .taxo-icon.is-image.is-title > .taxo-img { background-image: url('../../_shared/images/button-mid.png?1353714914'); }
.out .taxo-icon.is-image.is-title:before { background-image: url('../../_shared/images/button-left.png?1353714876'); }
.out .taxo-icon.is-image.is-title:after { background-image: url('../../_shared/images/button-right.png?1353714960'); }

.image-state-simple { display: inline-block; position: relative; }
.image-state-simple .state-out { position: relative; }
.image-state-simple .state-off { position: absolute; top: 0px; left: 0px; }
.out .image-state-simple .state-out { opacity: 0; }
.out .image-state-simple .state-off { opacity: 1; }
.over .image-state-simple .state-out { opacity: 1; }
.over .image-state-simple .state-off { opacity: 0; }

.image-state { display: inline-block; position: relative; }
.image-state .state-over { -webkit-transition: opacity 1s ease-out; -moz-transition: opacity 1s ease-out; -o-transition: opacity 1s ease-out; transition: opacity 1s ease-out; vertical-align: middle; opacity: 0; position: absolute; top: 0px; left: 0px; }
.image-state .state-out { -webkit-transition: opacity 1s ease-in; -moz-transition: opacity 1s ease-in; -o-transition: opacity 1s ease-in; transition: opacity 1s ease-in; vertical-align: middle; opacity: 1; position: absolute; top: 0px; left: 0px; }
.image-state .state-off { vertical-align: middle; position: relative; opacity: 0; }
.image-state:hover .state-over { opacity: 1; }
.image-state:hover .state-out { opacity: 0; }
.out .image-state .state-over { opacity: 0; }
.out .image-state .state-out { opacity: 0; }
.out .image-state .state-off { opacity: 1; }
.over .image-state .state-off { opacity: 0; }

.image-superpose { position: relative; }
.image-superpose .color { -webkit-transition: opacity 0.5s ease-out; -moz-transition: opacity 0.5s ease-out; -o-transition: opacity 0.5s ease-out; transition: opacity 0.5s ease-out; position: relative; }
.image-superpose .bw { -webkit-transition: opacity 0.5s ease-in; -moz-transition: opacity 0.5s ease-in; -o-transition: opacity 0.5s ease-in; transition: opacity 0.5s ease-in; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.image-superpose .bw img { position: relative; margin-left: auto; margin-right: auto; display: block; top: 50%; margin-top: -81px; }
.image-superpose.over .color { opacity: 1; }
.image-superpose.over .bw { opacity: 0; }
.image-superpose.out .color { opacity: 0; }
.image-superpose.out .bw { opacity: 1; }

.client-count { position: relative; display: inline-block; width: 80px; height: 90px; vertical-align: top; }
.client-count .counter { position: absolute; text-align: center; top: 5px; width: 100%; }
.client-count .counter span { position: absolute; text-align: center; color: #FFF; font-size: 10px; left: 0px; top: 2px; width: 100%; }

body { color: #666666; text-transform: uppercase; font-size: 10px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; letter-spacing: 0.5px; word-spacing: 1px; }

#background-sky-container, .background-sky { width: 100%; height: 100%; }

.background-sky { position: absolute; }

#background-sky-container { position: relative; overflow: hidden; }

#background-sky-color { background-color: #246ca0; }

.col-1-wrapper { margin-top: 33.33333px; margin-left: 3.84615%; width: 92.30769%; }

#cover { position: relative; left: 3.84615%; width: 92.30769%; }
#cover .cover-foreground-background { background-image: url('../../_shared/images/foreground-cover-shadow.png?1348103775'); background-repeat: no-repeat; background-position: bottom left; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; position: absolute; bottom: 0px; z-index: 0; height: 100%; width: 100%; margin-left: 6.66667%; }
#cover .cover-image { position: relative; bottom: 0px; z-index: 1; width: 100%; height: auto; }
#cover .cover-image * { height: auto; width: 100%; }
#cover .cover-foreground { background-image: url('../../_shared/images/foreground-cover.png?1353107119'); background-repeat: no-repeat; background-position: bottom left; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; position: absolute; bottom: 0px; z-index: 2; height: 100%; width: 119.27711%; margin-left: -9.63855%; }

#main-content { margin-left: 3.84615%; width: 92.30769%; }

.col-2-wrapper { margin-top: 80px; }

#header-title:after { background-image: url('../../_shared/images/separator.png?1347466399'); background-repeat: no-repeat; background-position: top left; content: ""; display: block; height: 48px; width: 100%; }
#header-title .header-title-wrapper { margin-top: 11.53846%; margin-left: 3.84615%; width: 92.30769%; }
#header-title .header-title-wrapper #breadcrumb { padding: 0px; margin: 0px; line-height: 1em; }
#header-title .header-title-wrapper #breadcrumb .breadcrumb-wrapper { padding: 0px; margin: 0px; }
#header-title .header-title-wrapper #page-title { padding: 0px; margin: 0px; line-height: 1em; }

#site-name { display: none; }

#branding { margin: 0px; }

#logo { padding: 0px; }

#site-slogan { margin-top: 2px; text-transform: uppercase; color: #FFF; font-size: 10px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; line-height: 1em; }

.profile-menu { margin-top: 40px; margin-bottom: 40px; }
.profile-menu ul { margin: 0px; }
.profile-menu ul li { margin: 0px; text-transform: uppercase; color: #FFF; font-size: 12px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; line-height: 1em; background-color: rgba(0, 0, 0, 0.1); }
.profile-menu ul li.odd { background-color: rgba(0, 0, 0, 0.2); }
.profile-menu ul li a { display: block; white-space: nowrap; text-transform: uppercase; font-size: 10px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; padding: 5px; padding-left: 10px; padding-right: 10px; text-decoration: none; color: #d7e5f0; }
.profile-menu ul li a:visited { color: #d7e5f0; }
.profile-menu ul li a:focus { color: white; }
.profile-menu ul li a:hover { color: white; }
.profile-menu ul li a:active { color: #6b7278; }
.profile-menu ul li a.active { color: #6b7278; text-decoration: none; }
.profile-menu ul li a:hover { background-color: rgba(0, 0, 0, 0.5); }
.profile-menu ul li a.active { background-color: transparent; color: #999999; }
.profile-menu ul li a.active:visited { color: light_color; }
.profile-menu ul li a.active:focus { color: light_color; }
.profile-menu ul li a.active:hover { color: light_color; }
.profile-menu ul li a.active:active { color: light_color; }

#footer { width: 100%; height: 80px; background-image: url('../../_shared/images/marc_galoyer/background-footer.png?1347985272'); background-repeat: repeat-x; background-position: bottom left; }
#footer .region { margin-left: 3.84615%; margin-top: 16px; }

#block-menu-menu-officiel-sous-menu { margin: 0px; }
#block-menu-menu-officiel-sous-menu .block-inner { margin: 0px; }
#block-menu-menu-officiel-sous-menu .menu { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; font-size: 16px; }
#block-menu-menu-officiel-sous-menu .menu li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 5px; padding-right: 5px; }
#block-menu-menu-officiel-sous-menu .menu li:first-child, #block-menu-menu-officiel-sous-menu .menu li.first { padding-left: 0; }
#block-menu-menu-officiel-sous-menu .menu li:last-child { padding-right: 0; }
#block-menu-menu-officiel-sous-menu .menu li.last { padding-right: 0; }

#block-block-1 { color: #999999; font-size: 10px; text-transform: uppercase; }
#block-block-1 p, #block-block-1 .block-inner { margin: 0px; }

a { text-decoration: none; color: #246ca0; }
a:hover { text-decoration: underline; }
a:visited { color: #246ca0; }
a:focus { color: #7cb7e1; }
a:hover { color: #7cb7e1; }
a:active { color: #123650; }
a.active { color: #123650; text-decoration: none; }

#block-system-main > .item-list { margin-top: 60px; }
#block-system-main > .item-list > ul { border: 0px; overflow: hidden; *zoom: 1; text-align: center; display: inline-block; }
#block-system-main > .item-list > ul li { padding: 0px; margin: 0px; float: left; margin-top: 2px; margin-bottom: 2px; border: 0px; height: 54px; line-height: 54px; display: inline-block; }
#block-system-main > .item-list > ul li > a { padding: 0px; margin: 0px; display: inline-block; vertical-align: top; display: inline-block; vertical-align: top; height: 54px; line-height: 54px; float: none; padding-left: 10px; padding-right: 10px; border: 0px; background-color: transparent; color: #666666; text-shadow: none; text-decoration: none; color: #666666; background-image: url('../../_shared/images/button-grey-mid.png?1353721658'); background-repeat: repeat-x; background-position: top right; }
#block-system-main > .item-list > ul li > a:hover { text-decoration: underline; }
#block-system-main > .item-list > ul li > a:visited { color: #666666; }
#block-system-main > .item-list > ul li > a:focus { color: #b3b3b3; }
#block-system-main > .item-list > ul li > a:hover { color: #b3b3b3; }
#block-system-main > .item-list > ul li > a:active { color: #333333; }
#block-system-main > .item-list > ul li > a.active { color: #333333; text-decoration: none; }
#block-system-main > .item-list > ul li:before { display: inline-block; height: 54px; width: 5px; content: ""; background-image: url('../../_shared/images/button-grey-left.png?1353721313'); background-repeat: no-repeat; background-position: bottom left; }
#block-system-main > .item-list > ul li:after { display: inline-block; height: 54px; width: 5px; content: ""; background-image: url('../../_shared/images/button-grey-right.png?1353759631'); background-repeat: no-repeat; background-position: top right; }
#block-system-main > .item-list > ul li.pager-item > a { color: white; text-decoration: none; color: white; background-image: url('../../_shared/images/button-black-mid.png?1353721619'); background-repeat: repeat-x; background-position: top right; }
#block-system-main > .item-list > ul li.pager-item > a:hover { text-decoration: underline; }
#block-system-main > .item-list > ul li.pager-item > a:visited { color: white; }
#block-system-main > .item-list > ul li.pager-item > a:focus { color: white; }
#block-system-main > .item-list > ul li.pager-item > a:hover { color: white; }
#block-system-main > .item-list > ul li.pager-item > a:active { color: #7f7f7f; }
#block-system-main > .item-list > ul li.pager-item > a.active { color: #7f7f7f; text-decoration: none; }
#block-system-main > .item-list > ul li.pager-item:before { background-image: url('../../_shared/images/button-black-left.png?1353759678'); }
#block-system-main > .item-list > ul li.pager-item:after { background-image: url('../../_shared/images/button-black-right.png?1353721702'); }
#block-system-main > .item-list > ul li.pager-ellipsis, #block-system-main > .item-list > ul li.pager-current { display: inline-block; vertical-align: top; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 10px; color: black; text-shadow: none; background-image: none; }
#block-system-main > .item-list > ul li.pager-ellipsis:before, #block-system-main > .item-list > ul li.pager-current:before { background-image: none; }
#block-system-main > .item-list > ul li.pager-ellipsis:after, #block-system-main > .item-list > ul li.pager-current:after { background-image: none; }
#block-system-main > .item-list > ul li.active a { color: white; text-shadow: none; text-decoration: none; color: white; background-image: url('../../_shared/images/button-black-mid.png?1353721619'); }
#block-system-main > .item-list > ul li.active a:hover { text-decoration: underline; }
#block-system-main > .item-list > ul li.active a:visited { color: white; }
#block-system-main > .item-list > ul li.active a:focus { color: white; }
#block-system-main > .item-list > ul li.active a:hover { color: white; }
#block-system-main > .item-list > ul li.active a:active { color: #7f7f7f; }
#block-system-main > .item-list > ul li.active a.active { color: #7f7f7f; text-decoration: none; }
#block-system-main > .item-list > ul li.active:before { background-image: url('../../_shared/images/button-black-left.png?1353759678'); }
#block-system-main > .item-list > ul li.active:after { background-image: url('../../_shared/images/button-black-right.png?1353721702'); }

.page-taxonomy #content .taxonomy-term { margin-bottom: 60px; }

#content .node .node-block-full .node-info .node-contact { padding: 20px; background-color: #b3d7e7; }

.sharethis-buttons, .node-comments { display: none; }

.page-taxonomy-term #block-system-main > .nodes { margin-top: 80px; }

#block-system-main > .field-type-taxonomy-term-reference + p { margin: 0px; color: #666666; font-size: 24px; text-transform: uppercase; font-family: "DIN Bold", Arial, Helvetica, sans-serif; font-weight: bold; }

#block-system-main > .nodes .node, #block-system-main > .node { margin: 0px; padding-bottom: 40px; padding-top: 40px; background-image: url('../../_shared/images/spacer-bg.png?1350400405'); background-repeat: no-repeat; background-position: bottom center; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; }
#block-system-main > .nodes .node .node-block-teaser, #block-system-main > .node .node-block-teaser { margin: 0px; }
#block-system-main > .nodes .node .node-block-teaser .node-image, #block-system-main > .node .node-block-teaser .node-image { width: auto; padding-right: 20px; float: left; }
#block-system-main > .nodes .node .node-block-teaser .node-info, #block-system-main > .node .node-block-teaser .node-info { width: auto; margin-top: 4.10256%; margin-left: 4.10256%; float: none; }
#block-system-main > .nodes .node .node-block-teaser .node-info .node-content, #block-system-main > .node .node-block-teaser .node-info .node-content { margin: 0px; margin-top: 20px; }
#block-system-main > .nodes .node .node-block-teaser .node-info .submitted, #block-system-main > .node .node-block-teaser .node-info .submitted { display: none; }

/* Really small screens and up */
/* Smartphone sizes and up Mobile portrait (320x480) */
/* Smartphone sizes and down Mobile paysage (480x320) */
@media only screen and (min-width: 480px) { /*  Float Region blocks example: In smaller screen sizes we can remove the float and widths so all blocks stack instead of displaying horizonally. The selector used here is an "attribute selector" which will match on any float block class. Use your inspector or Firebug to get the classes from the page output if you need more granular control over block alignment and stacking.  "Float Region blocks" is an extension for floating blocks in regions, see your themes appearance settings, under the Extensions tab. */
  .region[class*="float-blocks"] .block { float: none; width: 100%; } }
/* Tablet sizes and up Petite tablette portrait (600x800) */
@media only screen and (min-width: 675px) { #content { margin-left: auto; margin-right: auto; max-width: 640px; }
  #cover { position: relative; left: 3.84615%; width: 42.30769%; }
  #cover .cover-foreground-background { height: 240px; }
  #cover .cover-image { position: absolute; }
  #cover .cover-foreground { height: 240px; }
  .profile-menu { margin-top: 80px; }
  .profile-menu ul li a { padding-left: 55%; padding-right: 5%; } }
@media only screen and (min-width: 780px) { .node .node-block-full .field-name-field-acualite .node .node-info .node-content .field-name-body .field-item, .node .node-block-full .field-name-field-projet .node .node-info .node-content .field-name-body .field-item, .node.node-page .node-info .node-content .field-name-body .field-item { -webkit-column-count: 1; -moz-column-count: 1; -ms-column-count: 1; -o-column-count: 1; column-count: 1; text-align: left; }
  .node .node-block-full .field-name-field-acualite .node .node-info .node-content .field-name-body .field-item p:first-child:first-letter, .node .node-block-full .field-name-field-projet .node .node-info .node-content .field-name-body .field-item p:first-child:first-letter, .node.node-page .node-info .node-content .field-name-body .field-item p:first-child:first-letter { font-size: inherit; line-height: inherit; font-weight: inherit; float: none; vertical-align: inherit; }
  .node .node-block-full .field-name-field-projet .node .node-info .node-content .field-name-body .field-item p { margin: 0px; }
  .node .node-block-full .node-info .field-name-field-body .field-item, .node .node-block-full .node-info .field-name-body .field-item { -webkit-column-count: 2; -moz-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; -ms-column-gap: 30px; -o-column-gap: 30px; column-gap: 30px; -webkit-column-rule: 1px solid #cccccc; -moz-column-rule: 1px solid #cccccc; -ms-column-rule: 1px solid #cccccc; -o-column-rule: 1px solid #cccccc; column-rule: 1px solid #cccccc; text-align: justify; }
  .node .node-block-full .node-info .field-name-field-body .field-item p:first-child:first-letter, .node .node-block-full .node-info .field-name-body .field-item p:first-child:first-letter { font-size: 36px; line-height: 1em; font-family: "DIN Bold", Arial, Helvetica, sans-serif; font-weight: bold; float: left; vertical-align: top; }
  .node .node-block-teaser .node-info { width: 54.29487%; margin-left: 4.10256%; margin-top: 10px; }
  .node.node-page .node-block-full .node-info { width: 54.29487%; margin-left: 4.10256%; margin-top: 0px; clear: none; }
  .node.node-page .node-block-full .node-info .field-name-field-body { clear: none; } }
/* Tablet sizes and up Petite tablette paysage (800x600) */
/* Tablet sizes and up Tablette portrait (768x1024) */
@media only screen and (min-width: 960px) { #page, html, body { width: 100%; height: 100%; }
  #main-content { width: 80%; margin-left: 13.33333%; margin-right: 6.66667%; }
  #cover { position: absolute; left: 3.84615%; bottom: 0px; width: 38.71795%; z-index: 2; }
  #cover .cover-foreground-background { height: 100%; }
  #cover .cover-image { position: relative; }
  #cover .cover-foreground { height: 100%; }
  .profile-menu { margin-top: 80px; }
  .profile-menu ul li a { padding-left: 5px; padding-right: 5px; }
  .col { position: absolute; height: 100%; overflow: auto; }
  .col-1-wrapper { margin-left: 0; width: 100%; }
  #col-1 { left: 3.84615%; width: 34.61538%; z-index: 3; }
  #col-2 { top: 0px; left: 38.46154%; width: 61.53846%; z-index: 0; background-image: url('../../_shared/images/marc_galoyer/background-col-2.png?1348102961'); background-repeat: no-repeat; background-position: bottom left; background-color: #eeeeee; }
  .col-2-wrapper { margin-top: 160px; margin-bottom: 160px; }
  #header-title { display: block; position: fixed; top: 0; left: 38.46154%; width: 61.53846%; z-index: 999; }
  #header-title:after { background-image: url('../../_shared/images/marc_galoyer/header-bottom.png?1348048848'); background-repeat: no-repeat; background-position: top left; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; content: ""; display: block; height: 60px; width: 100%; }
  #header-title .header-title-wrapper { margin-top: 0px; margin-left: 0px; background-color: #EEEEEE; width: 80%; padding-top: 50px; padding-right: 6.66667%; padding-left: 13.33333%; }
  #background-sky-container { left: 0px; top: 0px; height: 100%; }
  #footer { position: absolute; z-index: 1; bottom: 0px; left: 38.46154%; width: 61.53846%; }
  #footer .region { margin-left: 13.33333%; } }
/*  Tablette paysage (1024x768) */
@media only screen and (min-width: 1300px) { #footer { left: 500px; max-width: 800px; }
  #col-1 { left: 50px; max-width: 450px; }
  #col-2 { left: 500px; top: 0px; width: 800px; }
  #header-title { left: 500px; max-width: 800px; }
  #cover { left: 50px; max-width: 503.33333px; } }
