@import "base";
@import "include/main";


body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4;
  word-spacing: 1.1pt;
  letter-spacing: 0.2pt;
  background: none;
}


/*
 * Links
 */
a {
	background: transparent;
	font-weight: 700;
	text-decoration: underline;
	color: rgb(0, 0, 238);

	&[href^="http://"],
	&[href^="https://"],
	&[href^="mailto:"] {
		&:after,
			&:visited:after {
			content: " : "attr(href);
			font-size: 10pt;
		}
	}
}







.container {
	min-width: 0px;
}

#page {
	padding-left: 10%;
	padding-right: 10%;
	position: relative;
	width: auto;
	height: auto;
}

#block-system-main > * {
	margin-bottom: 20%;
}


.chapter-title h2 {
	@extend .text-format-h1;
}


.profile-adds .field-type-field-collection > .field-label,
.node h2 {
	@extend .text-format-h3;
}


.profile-adds .node-contact, .profile-adds .field-type-field-collection, .profile-adds .field-name-field-acualite, .profile-adds .field-name-field-projet {
	margin-top: 0px;
}



.image-state .state-out {
	opacity: 0;
}

.image-state .state-over {
	opacity: 1;
}




.profile2-news,
.profile2-portfolio .profile-adds,
.node-projet .chapter-col-1,
.taxo-description,
.action-links,
.edit,
.delete {
	display: none;
}

#content,
.chapter-title {
	background-color: transparent;
}