


$col-1-margin-left-px:50px;
$col-1-width-px:500px;
$col-2-width-px:800px;

$node-teaser-image-width-px:300px;
$node-full-image-width-px:640px;

$standard-size:$col-1-width-px + $col-2-width-px;

$padding-node-px:($col-2-width-px - $node-full-image-width-px) / 3;
$cover-width-px:$col-1-width-px + $padding-node-px;
$cover-frontground-width-px:$col-1-width-px + $padding-node-px*3;


$col-1-margin-left-perc:percentage($col-1-margin-left-px / $standard-size);
$padding-node:percentage($padding-node-px / $standard-size);
$col-1-width-perc:percentage($col-1-width-px / $standard-size);
$col-2-width-perc:percentage($col-2-width-px / $standard-size);

$cover-width-perc:percentage($cover-width-px / $standard-size);

$cover-frontground-width-perc:percentage($cover-frontground-width-px / $cover-width-px);
$cover-frontground-margin-left-perc:percentage($padding-node-px / $cover-width-px);

$padding-internal-col-2-perc:$padding-node * (100% / $col-2-width-perc);


$col-margin-width-px: $padding-node-px;


$node-full-image-width-perc:percentage($node-full-image-width-px / $col-2-width-px);
$node-teaser-image-width-perc:percentage($node-teaser-image-width-px / $col-2-width-px);