$img-path-background-sky-image-filter:"marc_galoyer/background-sky-image-filter.png";
$img-path-background-footer:"marc_galoyer/background-footer.png";
$img-path-background-col-2:"marc_galoyer/background-col-2.png";
$img-path-header-bottom:"marc_galoyer/header-bottom.png";
 