#content {
	margin-left:auto;
	margin-right:auto;
	max-width:$node-full-image-width-px;
}

#cover {
	position: relative;
    left: $col-1-margin-left-perc;
    width:50% - $col-1-margin-left-perc *2;
	
	
	.cover-foreground-background {
		height: 240px;
	}
	
	.cover-image {
		position: absolute;
	}
	
	.cover-foreground {
		height: 240px;
	}
}


.profile-menu {
	margin-top: 80px;
}
