#page, html, body {
	width:100%;
	height:100%;
}


#main-content {
	width:$node-full-image-width-perc;
	margin-left:$padding-internal-col-2-perc *2;
	margin-right:$padding-internal-col-2-perc;
}

#cover {
	position: absolute;
    left: $col-1-margin-left-perc;
    bottom:0px;
	width:$cover-width-perc - $col-1-margin-left-perc;
	z-index:2;
	
	.cover-foreground-background {
		height: 100%;
	}
	
	.cover-image {
		position: relative;
	}
	
	.cover-foreground {
		height: 100%;
	}
}


.profile-menu {
	margin-top: 80px;
	ul {
		li {
			a {
				padding-left:5px;
				padding-right:5px;
			}
		}
	}
}


.col {
	position:absolute;
	height:100%;
	overflow: auto;
}

.col-1-wrapper {
	margin-left: 0;
    width:100%;
}


#col-1 {
	left:$col-1-margin-left-perc;
	width:$col-1-width-perc - $col-1-margin-left-perc;
	z-index:3;
}
#col-2 {
	top:0px;
	left:$col-1-width-perc;
	width:$col-2-width-perc;
	z-index:0;
	
	background:{
		image:image-url($img-path-background-col-2);
		repeat:no-repeat;
		position:bottom left;
		color:$color-background-normal;
	}
	
}

.col-2-wrapper {
	margin-top:160px;
	margin-bottom:160px;
}


#header-title {
    display: block;
    position: fixed;
    top: 0;
	left:$col-1-width-perc;
    width:$col-2-width-perc;
	z-index:999;
	
	&:after {
		background:{
			image:image-url($img-path-header-bottom);
			repeat:no-repeat;
			position:top left;
		}
		@include background-size(100%);
		content: "";
		display: block;
		height: 60px;
		width:100%;
	}
	
	.header-title-wrapper {
		margin-top:0px;
		margin-left: 0px;
		background-color: #EEEEEE;
		width:$node-full-image-width-perc;
		padding-top:$col-1-margin-left-px;
		padding-right:$padding-internal-col-2-perc;
		padding-left:$padding-internal-col-2-perc * 2;
	}
}


#background-sky-container {
	left:0px;
	top:0px;
	height:100%;
}

#footer {
	position: absolute;
	z-index:1;
	
	bottom:0px;
	left:$col-1-width-perc;
	width:$col-2-width-perc;

	.region {
		margin-left:$padding-internal-col-2-perc * 2;
	}

}

