@import "include/core";
@import "content/share-content";



//
//
//	MISE EN FORME
//
//

body {
	color:$color-normal;
	text-transform:uppercase;
	font-size:$font-size-mini;
	font-family:$font_regular;
	letter-spacing:0.5px;
	word-spacing:1px;
}

#background-sky-container,
.background-sky {
	width:100%;
	height:100%;
}

//
//
//	BACKGROUND
//
//
.background-sky {
	position:absolute;
}


#background-sky-container {
	position:relative;
	overflow:hidden;
}

#background-sky-color {
	background-color:$color-sky;
}






.col-1-wrapper {
	margin-top: $col-1-margin-left-px / 1.5;
	margin-left: $col-1-margin-left-perc;
    width:100% - $col-1-margin-left-perc *2;
}

#cover {
	position: relative;
    left: $col-1-margin-left-perc;
    width:100% - $col-1-margin-left-perc *2;

	.cover-foreground-background {
		background:{
			image:image-url($img-path-foreground-cover-shadow);
			repeat:no-repeat;
			position:bottom left;
		}
		@include background-size(100%);
		
		position: absolute;
		bottom:0px;
		z-index:0;
		height: 100%;
		width:100%;
		margin-left:$padding-internal-col-2-perc;
	}
	
	.cover-image {
		position: relative;
		bottom:0px;
		z-index:1;
		width: 100%;
		height: auto;
		
		* {
			height: auto;
			width: 100%;
		}
	}
    .cover-foreground {
		background:{
			image:image-url($img-path-foreground-cover);
			repeat:no-repeat;
			position:bottom left;
		}
		@include background-size(100%);
		
		position: absolute;
		bottom:0px;
		z-index:2;
		height: 100%;
		width:$cover-frontground-width-perc;
		margin-left:-$cover-frontground-margin-left-perc;
	}
}

#main-content {
	margin-left: $col-1-margin-left-perc;
	width:100% - $col-1-margin-left-perc * 2;
}

.col-2-wrapper {
	margin-top: 80px;
}


#header-title {
	
	&:after {
		background:{
			image:image-url($img-path-separator);
			repeat:no-repeat;
			position:top left;
		}
		content: "";
		display: block;
		height: image-height($img-path-separator);
		width:100%;
	}
	
	.header-title-wrapper {
		margin-top:$col-1-margin-left-perc *3;
		margin-left: $col-1-margin-left-perc;
    	width:100% - $col-1-margin-left-perc *2;

		#breadcrumb {
			@include reset-margin-padding();
			line-height:1em;
			
			.breadcrumb-wrapper {
				@include reset-margin-padding();
			}
		}
		
		#page-title {
			@include reset-margin-padding();
			line-height:1em;
		}
	}
}



#site-name {
	display:none;
}

#branding {
	margin:0px;
}

#logo {
	padding:0px;
}

#site-slogan {
	margin-top:2px;
	text-transform:uppercase;
	color:#FFF;
	font-size:$font-size-mini;
	font-family:$font_regular;
	line-height:1em;
}

.profile-menu {
	margin-top: 40px;
	margin-bottom: 40px;
	ul {
		margin:0px;
		
		li {
			margin:0px;
			text-transform:uppercase;
			color:#FFF;
			font-size:$font_size_normal;
			font-family:$font_regular;
			line-height:1em;
			
			background-color:rgba(black, 0.5);
			&.odd {
				background-color:rgba(black, 0.7);
			}
			
			a {
				display:block;
				white-space:nowrap;
				text-transform:uppercase;
				font-size:$font-size-mini;
				font-family:$font_regular;
				padding:5px;
				padding-left:10px;
				padding-right:10px;
				
				
				@include make-link-on-sky(false);
				//text-decoration:none;
				
				&:hover {
					background-color:rgba(black, 1);
				}
				
				&.active {				
					background-color:transparent;
					@include link-colors($color-light, light_color, light_color, light_color, light_color);
				}
			}
		}
	}
}




#footer {
	width:100%;
	height:80px;

	.region {
		margin-left:$col-1-margin-left-perc;
		margin-top:16px;
	}
	
	background:{
		image:image-url($img-path-background-footer);
		repeat:repeat-x;
		position:bottom left;
	}
}


#block-menu-menu-officiel-sous-menu {
	margin:0px;
	
	.block-inner {
		margin:0px;
	}
	.menu {
		@include horizontal-list(5px);
		font-size: 16px;
	}
}


#block-block-1 {
	color:$color-light;
	font-size:$font-size-mini;
	text-transform:uppercase;
	
	p,
	.block-inner {
		margin:0px;
	}
	
}


a {
	@include make-link-on-normal();
}


#block-system-main > .item-list {
	margin-top:60px;
	& > ul { @include make-lil-button-bar(); }
}




.page-taxonomy #content .taxonomy-term {
	margin-bottom:60px;
}


#content .node .node-block-full .node-info .node-contact {
	padding:20px;
	background-color:$color-background-sky;
}


.sharethis-buttons,
.node-comments {display:none;}


.page-taxonomy-term #block-system-main > .nodes {
	margin-top:80px;
}

#block-system-main > .field-type-taxonomy-term-reference {
	&+p {
		margin:0px;
		color:$color-normal;
		font-size:$font_size_title;
		text-transform:uppercase;
		@include font-bold();
	}
}



#block-system-main > .nodes .node,
#block-system-main > .node {
	margin:0px;
	padding-bottom: 40px;
    padding-top: 40px;
	
	.node-block-teaser {
		margin:0px;
		
		
		.node-image {
			width:auto;
			padding-right:20px;
			float:left;
		}
		.node-info {
			width: auto;
			margin-top:$padding-node;
			margin-left:$padding-node;
			float:none;
	
			.node-content {
				margin:0px;
				margin-top:20px;
				
			}
			
			.submitted { display:none; }
		}
		
	}
	
	
	
	
	background:{
		image:image-url($img-path-spacer);
		repeat:no-repeat;
		position:bottom center;
	}
	@include background-size(100%);
	
		
}

