
#footer {
	left:$col-1-width-px;
	max-width:$col-2-width-px;
}

#col-1 {
	left:$col-1-margin-left-px;
	max-width:$col-1-width-px - $col-1-margin-left-px;
}

#col-2 {
	left:$col-1-width-px;
	top:0px;
	width:$col-2-width-px;
}


#header-title {
	left:$col-1-width-px;
    max-width:$col-2-width-px;
}


#cover {
	left:$col-1-margin-left-px;
	max-width:$cover-width-px - $col-1-margin-left-px;
}
