html { margin: 0; padding: 0; border: 0; }

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table, div, span, object, iframe, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

blockquote, q { quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

th, td, caption { float: none !important; text-align: left; font-weight: normal; vertical-align: middle; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

.container { min-width: 950px; width: 100%; margin: 0 auto; overflow: hidden; *zoom: 1; }

.span-1 { width: 6.25%; }

div.span-1 { display: inline; float: left; overflow: hidden; width: 6.25%; margin-right: 0; }

.span-2 { width: 12.5%; }

div.span-2 { display: inline; float: left; overflow: hidden; width: 12.5%; margin-right: 0; }

.span-3 { width: 18.75%; }

div.span-3 { display: inline; float: left; overflow: hidden; width: 18.75%; margin-right: 0; }

.span-4 { width: 25%; }

div.span-4 { display: inline; float: left; overflow: hidden; width: 25%; margin-right: 0; }

.span-5 { width: 31.25%; }

div.span-5 { display: inline; float: left; overflow: hidden; width: 31.25%; margin-right: 0; }

.span-6 { width: 37.5%; }

div.span-6 { display: inline; float: left; overflow: hidden; width: 37.5%; margin-right: 0; }

.span-7 { width: 43.75%; }

div.span-7 { display: inline; float: left; overflow: hidden; width: 43.75%; margin-right: 0; }

.span-8 { width: 50%; }

div.span-8 { display: inline; float: left; overflow: hidden; width: 50%; margin-right: 0; }

.span-9 { width: 56.25%; }

div.span-9 { display: inline; float: left; overflow: hidden; width: 56.25%; margin-right: 0; }

.span-10 { width: 62.5%; }

div.span-10 { display: inline; float: left; overflow: hidden; width: 62.5%; margin-right: 0; }

.span-11 { width: 68.75%; }

div.span-11 { display: inline; float: left; overflow: hidden; width: 68.75%; margin-right: 0; }

.span-12 { width: 75%; }

div.span-12 { display: inline; float: left; overflow: hidden; width: 75%; margin-right: 0; }

.span-13 { width: 81.25%; }

div.span-13 { display: inline; float: left; overflow: hidden; width: 81.25%; margin-right: 0; }

.span-14 { width: 87.5%; }

div.span-14 { display: inline; float: left; overflow: hidden; width: 87.5%; margin-right: 0; }

.span-15 { width: 93.75%; }

div.span-15 { display: inline; float: left; overflow: hidden; width: 93.75%; margin-right: 0; }

.span-16 { width: 100%; }

div.span-16 { display: inline; float: left; overflow: hidden; width: 100%; margin-right: 0; }

div.last { margin-right: 0; }

.append-1 { padding-right: 6.25%; }

.append-2 { padding-right: 12.5%; }

.append-3 { padding-right: 18.75%; }

.append-4 { padding-right: 25%; }

.append-5 { padding-right: 31.25%; }

.append-6 { padding-right: 37.5%; }

.append-7 { padding-right: 43.75%; }

.append-8 { padding-right: 50%; }

.append-9 { padding-right: 56.25%; }

.append-10 { padding-right: 62.5%; }

.append-11 { padding-right: 68.75%; }

.append-12 { padding-right: 75%; }

.append-13 { padding-right: 81.25%; }

.append-14 { padding-right: 87.5%; }

.append-15 { padding-right: 93.75%; }

.prepend-1 { padding-left: 6.25%; }

.prepend-2 { padding-left: 12.5%; }

.prepend-3 { padding-left: 18.75%; }

.prepend-4 { padding-left: 25%; }

.prepend-5 { padding-left: 31.25%; }

.prepend-6 { padding-left: 37.5%; }

.prepend-7 { padding-left: 43.75%; }

.prepend-8 { padding-left: 50%; }

.prepend-9 { padding-left: 56.25%; }

.prepend-10 { padding-left: 62.5%; }

.prepend-11 { padding-left: 68.75%; }

.prepend-12 { padding-left: 75%; }

.prepend-13 { padding-left: 81.25%; }

.prepend-14 { padding-left: 87.5%; }

.prepend-15 { padding-left: 93.75%; }

.pull-1 { margin-left: -4.209%; }

.pull-2 { margin-left: -8.418%; }

.pull-3 { margin-left: -12.627%; }

.pull-4 { margin-left: -16.836%; }

.pull-5 { margin-left: -21.045%; }

.pull-6 { margin-left: -25.254%; }

.pull-7 { margin-left: -29.463%; }

.pull-8 { margin-left: -33.672%; }

.pull-9 { margin-left: -37.881%; }

.pull-10 { margin-left: -42.09%; }

.pull-11 { margin-left: -46.299%; }

.pull-12 { margin-left: -50.508%; }

.pull-13 { margin-left: -54.717%; }

.pull-14 { margin-left: -58.926%; }

.pull-15 { margin-left: -63.135%; }

.pull-16 { margin-left: -67.344%; }

.push-1 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -4.209%; margin-bottom: 0; }

.push-2 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -8.418%; margin-bottom: 0; }

.push-3 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -12.627%; margin-bottom: 0; }

.push-4 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -16.836%; margin-bottom: 0; }

.push-5 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -21.045%; margin-bottom: 0; }

.push-6 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -25.254%; margin-bottom: 0; }

.push-7 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -29.463%; margin-bottom: 0; }

.push-8 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -33.672%; margin-bottom: 0; }

.push-9 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -37.881%; margin-bottom: 0; }

.push-10 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -42.09%; margin-bottom: 0; }

.push-11 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -46.299%; margin-bottom: 0; }

.push-12 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -50.508%; margin-bottom: 0; }

.push-13 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -54.717%; margin-bottom: 0; }

.push-14 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -58.926%; margin-bottom: 0; }

.push-15 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -63.135%; margin-bottom: 0; }

.push-16 { display: inline; float: right; margin-top: 0; margin-left: 0; margin-right: -67.344%; margin-bottom: 0; }

@font-face { font-family: "Uneakfont_light"; src: url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan-Extralight.eot') format('embedded-opentype'), url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan-Extralight.otf') format('opentype'), url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan-Extralight.svg') format('svg'), url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan-Extralight.ttf') format('truetype'); font-weight: normal; font-style: normal; }

@font-face { font-family: "Uneakfont_regular"; src: url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan.eot') format('embedded-opentype'), url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan.otf') format('opentype'), url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan.svg') format('svg'), url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan.ttf') format('truetype'); font-weight: normal; font-style: normal; }

@font-face { font-family: "Uneakfont_bold"; src: url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan-Extrabold.eot') format('embedded-opentype'), url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan-Extrabold.otf') format('opentype'), url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan-Extrabold.svg') format('svg'), url('../../../../default/files/themes_uneak/fonts/Typesketchbook - Quan-Extrabold.ttf') format('truetype'); font-weight: normal; font-style: normal; }

h1, h2, h3 { margin: 0; padding: 0; font-size: 100%; }

.h1, .text-format-h1 { font-size: 54px; line-height: 0.7em; }

.h2, .text-format-h2 { font-size: 48px; line-height: 0.7em; }

.h3, .text-format-h3, #tiptip_title, .text-format-h3-bold { font-size: 36px; line-height: 0.7em; }

.h4, .text-format-h4 { font-size: 24px; line-height: 0.7em; }

.font-size-normal, .text-format-normal, #tiptip_description .client-project-header, .field-type-taxonomy-term-reference .field-label, body, .text-format-normal-arial, .client-count .counter { font-size: 16px; }

.font-size-mini, .text-format-mini, #tiptip_description, .field-name-field-type a, .col1-link, .col1-link.odd, .col1-link.even, .col1-link-white, .col1-link-white.even, .col1-link-white.odd, .text-format-mini-bold { font-size: 14px; line-height: 1em; }

.font-arial, .text-format-normal-arial, .client-count .counter { font-family: arial; font-weight: normal; }

.font-regular, .text-format-h4, .text-format-normal, #tiptip_description .client-project-header, .field-type-taxonomy-term-reference .field-label, body, .text-format-mini, #tiptip_description, .field-name-field-type a, .col1-link, .col1-link.odd, .col1-link.even, .col1-link-white, .col1-link-white.even, .col1-link-white.odd { font-family: Uneakfont_regular, Arial, Helvetica, sans-serif; font-weight: normal; }

.font-light, .text-format-h1, .text-format-h2, .text-format-h3, #tiptip_title { font-family: Uneakfont_light, Arial, Helvetica, sans-serif; font-weight: normal; }

.font-bold, .text-format-h3-bold, .text-format-mini-bold { font-family: Uneakfont_bold, Arial, Helvetica, sans-serif; font-weight: normal; }

.text-color-black-light { color: #989898; }

.text-color-black { color: #181818; }

.text-color-black-dark { color: #757575; }

.text-color-white-light { color: #989898; }

.text-color-white { color: #ebebeb; }

.text-color-white-dark { color: #212121; }

.text-color-sky { color: #246ca0; }

.text-format-uppercase, .text-format-h1, .text-format-h2, .text-format-h3, #tiptip_title, .text-format-h3-bold, .text-format-mini, #tiptip_description, .field-name-field-type a, .col1-link, .col1-link.odd, .col1-link.even, .col1-link-white, .col1-link-white.even, .col1-link-white.odd, .text-format-mini-bold { text-transform: uppercase; }

/* ---------------- Buttons    ---------------- */
input.form-submit, a.button { background: white url(../images/buttons.png) 0 0 repeat-x; border: 1px solid #e4e4e4; border-bottom: 1px solid #b4b4b4; border-left-color: #d2d2d2; border-right-color: #d2d2d2; color: #3a3a3a; cursor: pointer; font-size: 14px; text-transform: uppercase; font-weight: normal; text-align: center; margin-bottom: 1em; margin-right: 0.6em; /* LTR */ padding: 4px 17px; -khtml-border-radius: 15px; -moz-border-radius: 20px; -webkit-border-radius: 15px; border-radius: 15px; }

a.button:link, a.button:visited, a.button:hover, a.button:focus, a.button:active { text-decoration: none; color: #5a5a5a; }

/* -------------- Form Elements   ------------- */
fieldset { background: #ffffff; border: 1px solid #cccccc; margin-top: 10px; margin-bottom: 32px; padding: 0 0 10px; position: relative; top: 12px; /* Offsets the negative margin of legends */ -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.fieldset-wrapper { margin-top: 25px; }

.node-form .vertical-tabs .fieldset-wrapper { margin-top: 0; }

.filter-wrapper { top: 0; padding: 20px; font-size: 16px; -khtml-border-radius-topright: 0; -khtml-border-radius-topleft: 0; -moz-border-radius-topright: 0; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

.filter-help a { font-size: 0.857em; padding: 2px 20px 0; }

.filter-wrapper .form-item label { margin-right: 10px; }

.filter-wrapper .form-item { padding: 0 0 0.5em 0.5em; }

.filter-guidelines { padding: 0 1.5em 0 0.5em; }

fieldset.collapsed { background: transparent; -khtml-border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

fieldset legend { background: #dbdbdb; border: 1px solid #ccc; border-bottom: none; color: #3b3b3b; display: block; height: 2em; left: -1px; /* LTR */ font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; line-height: 2; padding: 0; position: absolute; text-indent: 10px; text-shadow: 0 1px 0 #fff; top: -12px; width: 100%; -khtml-border-radius-topleft: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -khtml-border-radius-topright: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }

fieldset.collapsed legend { -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

fieldset legend a { color: #3b3b3b; }

fieldset legend a:hover, fieldset legend a:focus, fieldset legend a:active { color: #000; }

fieldset .fieldset-wrapper { padding: 0 10px; }

fieldset .fieldset-description { margin-top: 5px; margin-bottom: 1em; line-height: 1.4; color: #3c3c3c; font-style: italic; }

input { margin: 2px 0; padding: 4px; }

input, textarea { font-size: 0.929em; }

textarea { line-height: 1.5; }

textarea.form-textarea, select.form-select { padding: 4px; }

input.form-text, textarea.form-textarea, select.form-select { border: 1px solid #ccc; }

input.form-submit:hover, input.form-submit:focus { background: #dedede; }

.password-suggestions ul li { margin-left: 1.2em; /* LTR */ }

.form-item { margin-bottom: 1em; margin-top: 2px; }

.form-item label { font-size: 0.929em; }

.form-type-radio label, .form-type-checkbox label { margin-left: 4px; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2px; }

.form-actions { padding-top: 10px; }

/* Contact Form */
.contact-form #edit-name { width: 75%; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-mail { width: 75%; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-subject { width: 75%; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-message { width: 76.3%; -khtml-border-top-left-radius: 4px; -khtml-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

.contact-form .resizable-textarea .grippie { width: 76%; -khtml-border-bottom-left-radius: 4px; -khtml-border-bottom-right-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

/* Disabled form elements */
input.form-button-disabled, input.form-button-disabled:hover, input.form-button-disabled:focus, input.form-button-disabled:active, .form-disabled input, .form-disabled select, .form-disabled textarea { background: #ededed; border-color: #bbb; color: #717171; }

.form-disabled .grippie { background-color: #ededed; border-color: #bbb; }

.form-disabled label { color: #717171; }

/* Animated throbber */
html.js input.form-autocomplete { background-position: 100% 4px; /* LTR */ }

html.js input.throbbing { background-position: 100% -16px; /* LTR */ }

/* Comment form */
.comment-form label { float: left; /* LTR */ font-size: 16px; width: 120px; }

.comment-form input, .comment-form .form-select { margin: 0; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.comment-form .form-type-textarea label { float: none; }

.comment-form .form-item, .comment-form .form-radios, .comment-form .form-type-checkbox, .comment-form .form-select { margin-bottom: 10px; overflow: hidden; }

.comment-form .form-type-checkbox, .comment-form .form-radios { margin-left: 120px; /* LTR */ }

.comment-form .form-type-checkbox label, .comment-form .form-radios label { float: none; margin-top: 0; }

.comment-form input.form-file { width: auto; }

.no-sidebars .comment-form .form-text { width: 800px; }

.one-sidebar .comment-form .form-text { width: 500px; }

.two-sidebars .comment-form .form-text { width: 320px; }

.comment-form .form-item .description { font-size: 0.786em; line-height: 1.2; margin-left: 120px; /* LTR */ }

#content h2.comment-form { margin-bottom: 0.5em; }

.comment-form .form-textarea { -khtml-border-radius-topleft: 4px; -khtml-border-radius-topright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }

.comment-form fieldset.filter-wrapper .fieldset-wrapper, .comment-form .text-format-wrapper .form-item { margin-top: 0; margin-bottom: 0; }

.filter-wrapper label { width: auto; float: none; }

.filter-wrapper .form-select { min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips { font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label { margin-bottom: 0.4em; }

#edit-actions input { margin-right: 0.6em; /* LTR */ }

/* -------------- Password Meter  ------------- */
.confirm-parent, .password-parent { width: 34em; }

.password-parent, div.form-item div.password-suggestions { position: relative; }

.password-strength-text, .password-strength-title, div.password-confirm { font-size: 0.82em; }

.password-strength-text { margin-top: 0.2em; }

div.password-confirm { margin-top: 2.2em; width: 20.73em; }

/* -------------- Other Overrides ------------- */
div.password-suggestions { border: 0; }

.ui-widget-overlay { background: #222222; opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane { padding: 1em; }

#forum .name { font-size: 1.083em; }

#forum .description { font-size: 1em; }

/* TipTip CSS - Version 1.2 */
#tiptip_holder { display: none; position: absolute; top: 0; left: 0; z-index: 99999; }

#tiptip_holder.tip_top { padding-bottom: 0px; }

#tiptip_holder.tip_bottom { padding-top: 5px; }

#tiptip_holder.tip_right { padding-left: 5px; }

#tiptip_holder.tip_left { padding-right: 5px; }

#tiptip_content { font-size: 11px; color: #fff; text-shadow: 0 0 2px #000; padding: 30px; border: 1px solid rgba(255, 255, 255, 0.25); background-color: #191919; background-color: rgba(25, 25, 25, 0.92); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(black)); border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: 0 0 3px #555; -webkit-box-shadow: 0 0 3px #555; -moz-box-shadow: 0 0 3px #555; }

#tiptip_content { color: #ebebeb; }
#tiptip_content a { text-decoration: none; color: #ebebeb; }
#tiptip_content a:hover { text-decoration: underline; }
#tiptip_content a:visited { color: #ebebeb; }
#tiptip_content a:focus { color: white; }
#tiptip_content a:hover { color: white; }
#tiptip_content a:active { color: #6c6c6c; }
#tiptip_content a.active { color: #6c6c6c; text-decoration: none; }

#tiptip_description { margin-top: 5px; }
#tiptip_description .client-project-header { margin-top: 30px; margin-bottom: 7.5px; }

#tiptip_arrow, #tiptip_arrow_inner { position: absolute; border-color: transparent; border-style: solid; border-width: 6px; height: 0; width: 0; }

#tiptip_holder.tip_top #tiptip_arrow { border-top-color: #fff; border-top-color: rgba(255, 255, 255, 0.35); }

#tiptip_holder.tip_bottom #tiptip_arrow { border-bottom-color: #fff; border-bottom-color: rgba(255, 255, 255, 0.35); }

#tiptip_holder.tip_right #tiptip_arrow { border-right-color: #fff; border-right-color: rgba(255, 255, 255, 0.35); }

#tiptip_holder.tip_left #tiptip_arrow { border-left-color: #fff; border-left-color: rgba(255, 255, 255, 0.35); }

#tiptip_holder.tip_top #tiptip_arrow_inner { margin-top: -7px; margin-left: -6px; border-top-color: #191919; border-top-color: rgba(25, 25, 25, 0.92); }

#tiptip_holder.tip_bottom #tiptip_arrow_inner { margin-top: -5px; margin-left: -6px; border-bottom-color: #191919; border-bottom-color: rgba(25, 25, 25, 0.92); }

#tiptip_holder.tip_right #tiptip_arrow_inner { margin-top: -6px; margin-left: -5px; border-right-color: #191919; border-right-color: rgba(25, 25, 25, 0.92); }

#tiptip_holder.tip_left #tiptip_arrow_inner { margin-top: -6px; margin-left: -7px; border-left-color: #191919; border-left-color: rgba(25, 25, 25, 0.92); }

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio: 0) { #tiptip_content { padding: 30px; background-color: rgba(45, 45, 45, 0.88); }
  #tiptip_holder.tip_bottom #tiptip_arrow_inner { border-bottom-color: rgba(45, 45, 45, 0.88); }
  #tiptip_holder.tip_top #tiptip_arrow_inner { border-top-color: rgba(20, 20, 20, 0.92); } }
.extend-fullscreen, .extend-fullscreen-absolute, #page-content, #cover-image, .image-cover, .background-sky { width: 100%; height: 100%; }

.extend-fullscreen-absolute, #page-content { position: absolute; }

.extend-font-regular { font-family: Uneakfont_regular, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; }

.layout-block { position: relative; }

.extend-block, .extend-block-black, .cover-div-background, .col1-link, .col1-link.even, .extend-block-white, .col1-link-white, .extend-block-white-dark, #cover-wrapper, .col1-link-white.even, .extend-block-white-light, .col1-link-white.odd, .extend-block-transparent, .extend-block-black-alpha, .extend-block-white-alpha, .extend-block-white-alpha-90, .extend-block-invisible, .extend-block-black-dark, .extend-block-black-light, .col1-link.odd, .extend-block-black-rubrique-title { padding: 30px; position: relative; }

.extend-block-black, .cover-div-background, .col1-link, .col1-link.even { background-color: #181818; color: #ebebeb; }
.extend-block-black a, .cover-div-background a, .col1-link a, .col1-link.even a { text-decoration: none; color: #ebebeb; }
.extend-block-black a:visited, .cover-div-background a:visited, .col1-link a:visited { color: #ebebeb; }
.extend-block-black a:focus, .cover-div-background a:focus, .col1-link a:focus { color: white; }
.extend-block-black a:hover, .cover-div-background a:hover, .col1-link a:hover { color: white; }
.extend-block-black a:active, .cover-div-background a:active, .col1-link a:active { color: #6c6c6c; }
.extend-block-black a.active, .cover-div-background a.active, .col1-link a.active { color: #6c6c6c; text-decoration: none; }
.extend-block-black a.active, .cover-div-background a.active, .col1-link a.active { color: #575757; }

.extend-block-white, .col1-link-white { background-color: #ebebeb; color: #181818; }
.extend-block-white a, .col1-link-white a { text-decoration: none; color: #181818; }
.extend-block-white a:visited, .col1-link-white a:visited { color: #181818; }
.extend-block-white a:focus, .col1-link-white a:focus { color: #656565; }
.extend-block-white a:hover, .col1-link-white a:hover { color: #656565; }
.extend-block-white a:active, .col1-link-white a:active { color: black; }
.extend-block-white a.active, .col1-link-white a.active { color: black; text-decoration: none; }
.extend-block-white a.active, .col1-link-white a.active { color: #ababab; }

.extend-block-white-dark, #cover-wrapper, .col1-link-white.even { background-color: #d2d2d2; color: #757575; }
.extend-block-white-dark a, #cover-wrapper a, .col1-link-white.even a { text-decoration: none; color: #757575; }
.extend-block-white-dark a:visited, #cover-wrapper a:visited, .col1-link-white.even a:visited { color: #757575; }
.extend-block-white-dark a:focus, #cover-wrapper a:focus, .col1-link-white.even a:focus { color: #c2c2c2; }
.extend-block-white-dark a:hover, #cover-wrapper a:hover, .col1-link-white.even a:hover { color: #c2c2c2; }
.extend-block-white-dark a:active, #cover-wrapper a:active, .col1-link-white.even a:active { color: black; }
.extend-block-white-dark a.active, #cover-wrapper a.active, .col1-link-white.even a.active { color: black; text-decoration: none; }
.extend-block-white-dark a.active, #cover-wrapper a.active, .col1-link-white.even a.active { color: #b6b6b6; }

.extend-block-white-light, .col1-link-white.odd { background-color: #f8f8f8; color: #989898; }
.extend-block-white-light a, .col1-link-white.odd a { text-decoration: none; color: #989898; }
.extend-block-white-light a:visited, .col1-link-white.odd a:visited { color: #989898; }
.extend-block-white-light a:focus, .col1-link-white.odd a:focus { color: #e4e4e4; }
.extend-block-white-light a:hover, .col1-link-white.odd a:hover { color: #e4e4e4; }
.extend-block-white-light a:active, .col1-link-white.odd a:active { color: #181818; }
.extend-block-white-light a.active, .col1-link-white.odd a.active { color: #181818; text-decoration: none; }
.extend-block-white-light a.active, .col1-link-white.odd a.active { color: #dbdbdb; }

.extend-block-transparent { background-color: transparent; color: white; }
.extend-block-transparent a { text-decoration: none; color: white; }
.extend-block-transparent a:visited { color: white; }
.extend-block-transparent a:focus { color: white; }
.extend-block-transparent a:hover { color: white; }
.extend-block-transparent a:active { color: gray; }
.extend-block-transparent a.active { color: gray; text-decoration: none; }
.extend-block-transparent a.active { color: rgba(255, 255, 255, 0.3); }

.extend-block-black-alpha { background-color: rgba(24, 24, 24, 0.5); color: #ebebeb; }
.extend-block-black-alpha a { text-decoration: none; color: #ebebeb; }
.extend-block-black-alpha a:visited { color: #ebebeb; }
.extend-block-black-alpha a:focus { color: white; }
.extend-block-black-alpha a:hover { color: white; }
.extend-block-black-alpha a:active { color: #6c6c6c; }
.extend-block-black-alpha a.active { color: #6c6c6c; text-decoration: none; }
.extend-block-black-alpha a.active { color: rgba(235, 235, 235, 0.3); }

.extend-block-white-alpha { background-color: rgba(235, 235, 235, 0.5); color: #181818; }
.extend-block-white-alpha a { text-decoration: none; color: #181818; }
.extend-block-white-alpha a:visited { color: #181818; }
.extend-block-white-alpha a:focus { color: #656565; }
.extend-block-white-alpha a:hover { color: #656565; }
.extend-block-white-alpha a:active { color: black; }
.extend-block-white-alpha a.active { color: black; text-decoration: none; }
.extend-block-white-alpha a.active { color: rgba(24, 24, 24, 0.3); }

.extend-block-white-alpha-90 { background-color: rgba(235, 235, 235, 0.9); color: #181818; }
.extend-block-white-alpha-90 a { text-decoration: none; color: #181818; }
.extend-block-white-alpha-90 a:visited { color: #181818; }
.extend-block-white-alpha-90 a:focus { color: #656565; }
.extend-block-white-alpha-90 a:hover { color: #656565; }
.extend-block-white-alpha-90 a:active { color: black; }
.extend-block-white-alpha-90 a.active { color: black; text-decoration: none; }
.extend-block-white-alpha-90 a.active { color: rgba(24, 24, 24, 0.3); }

.extend-block-invisible { padding: 0px; background-color: transparent; }

.extend-block-black-dark { background-color: #0b0b0b; color: #212121; }
.extend-block-black-dark a { text-decoration: none; color: #212121; }
.extend-block-black-dark a:visited { color: #212121; }
.extend-block-black-dark a:focus { color: #6e6e6e; }
.extend-block-black-dark a:hover { color: #6e6e6e; }
.extend-block-black-dark a:active { color: black; }
.extend-block-black-dark a.active { color: black; text-decoration: none; }
.extend-block-black-dark a.active { color: #b6b6b6; }

.extend-block-black-light, .col1-link.odd { background-color: #252525; color: #989898; }
.extend-block-black-light a, .col1-link.odd a { text-decoration: none; color: #989898; }
.extend-block-black-light a:visited, .col1-link.odd a:visited { color: #989898; }
.extend-block-black-light a:focus, .col1-link.odd a:focus { color: #e4e4e4; }
.extend-block-black-light a:hover, .col1-link.odd a:hover { color: #e4e4e4; }
.extend-block-black-light a:active, .col1-link.odd a:active { color: #181818; }
.extend-block-black-light a.active, .col1-link.odd a.active { color: #181818; text-decoration: none; }
.extend-block-black-light a.active, .col1-link.odd a.active { color: #dbdbdb; }

.extend-block-black-rubrique-title { background-color: rgba(24, 24, 24, 0.5); color: #ebebeb; }
.extend-block-black-rubrique-title a { text-decoration: none; color: #ebebeb; }
.extend-block-black-rubrique-title a:visited { color: #ebebeb; }
.extend-block-black-rubrique-title a:focus { color: white; }
.extend-block-black-rubrique-title a:hover { color: white; }
.extend-block-black-rubrique-title a:active { color: #6c6c6c; }
.extend-block-black-rubrique-title a.active { color: #6c6c6c; text-decoration: none; }
.extend-block-black-rubrique-title a.active { color: rgba(235, 235, 235, 0.3); }

#cover-wrapper { padding: 0px; }

.image-cover { position: absolute; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.cover-div-background { padding: 0px; position: relative; min-height: 250px; width: 100%; }

.widgets a { display: inline-block; }

.widgets-element { font-size: 0px; display: inline-block; margin-right: 1px; margin-bottom: 1px; }

ul.inline li { margin: 0; padding: 0; }

.item-list > ul.pager { margin: 0; padding: 0; }
.item-list > ul.pager li { margin: 0; padding: 0; margin-right: 1px; margin-bottom: 1px; position: relative; }
.item-list > ul.pager .pager-item, .item-list > ul.pager .pager-first, .item-list > ul.pager .pager-previous, .item-list > ul.pager .pager-next, .item-list > ul.pager .pager-last, .item-list > ul.pager .pager-current, .item-list > ul.pager .pager-ellipsis { display: inline-block; vertical-align: top; min-width: 40px; height: 40px; line-height: 40px; }
.item-list > ul.pager .pager-item a, .item-list > ul.pager .pager-first a, .item-list > ul.pager .pager-previous a, .item-list > ul.pager .pager-next a, .item-list > ul.pager .pager-last a, .item-list > ul.pager .pager-current a, .item-list > ul.pager .pager-ellipsis a { position: absolute; display: inline-block; width: 100%; height: 100%; left: 0px; top: 0px; vertical-align: middle; text-align: center; }
.item-list > ul.pager .pager-ellipsis, .item-list > ul.pager .pager-current { display: inline-block; vertical-align: middle; text-align: center; }
.item-list > ul.pager .pager-current { color: white; background-color: #a4a4a4; }
.item-list > ul.pager .pager-first a { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../../../../default/files/themes_uneak/images/../../../../default/files/themes_uneak/images/first.png?1379089905'); background-repeat: no-repeat; background-position: 50% 50%; }
.item-list > ul.pager .pager-previous a { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../../../../default/files/themes_uneak/images/../../../../default/files/themes_uneak/images/prev.png?1379090460'); background-repeat: no-repeat; background-position: 50% 50%; }
.item-list > ul.pager .pager-next a { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../../../../default/files/themes_uneak/images/../../../../default/files/themes_uneak/images/next.png?1379089755'); background-repeat: no-repeat; background-position: 50% 50%; }
.item-list > ul.pager .pager-last a { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../../../../default/files/themes_uneak/images/../../../../default/files/themes_uneak/images/last.png?1379089772'); background-repeat: no-repeat; background-position: 50% 50%; }
.item-list > ul.pager .pager-item a { text-decoration: none; color: #989898; background-color: #252525; }
.item-list > ul.pager .pager-item a:hover { text-decoration: underline; }
.item-list > ul.pager .pager-item a:visited { color: #989898; }
.item-list > ul.pager .pager-item a:focus { color: #e4e4e4; }
.item-list > ul.pager .pager-item a:hover { color: #e4e4e4; }
.item-list > ul.pager .pager-item a:active { color: #181818; }
.item-list > ul.pager .pager-item a.active { color: #181818; text-decoration: none; }
.item-list > ul.pager .pager-first a, .item-list > ul.pager .pager-previous a, .item-list > ul.pager .pager-next a, .item-list > ul.pager .pager-last a { text-decoration: none; color: #989898; background-color: #323232; }
.item-list > ul.pager .pager-first a:hover, .item-list > ul.pager .pager-previous a:hover, .item-list > ul.pager .pager-next a:hover, .item-list > ul.pager .pager-last a:hover { text-decoration: underline; }
.item-list > ul.pager .pager-first a:visited, .item-list > ul.pager .pager-previous a:visited, .item-list > ul.pager .pager-next a:visited, .item-list > ul.pager .pager-last a:visited { color: #989898; }
.item-list > ul.pager .pager-first a:focus, .item-list > ul.pager .pager-previous a:focus, .item-list > ul.pager .pager-next a:focus, .item-list > ul.pager .pager-last a:focus { color: #e4e4e4; }
.item-list > ul.pager .pager-first a:hover, .item-list > ul.pager .pager-previous a:hover, .item-list > ul.pager .pager-next a:hover, .item-list > ul.pager .pager-last a:hover { color: #e4e4e4; }
.item-list > ul.pager .pager-first a:active, .item-list > ul.pager .pager-previous a:active, .item-list > ul.pager .pager-next a:active, .item-list > ul.pager .pager-last a:active { color: #181818; }
.item-list > ul.pager .pager-first a.active, .item-list > ul.pager .pager-previous a.active, .item-list > ul.pager .pager-next a.active, .item-list > ul.pager .pager-last a.active { color: #181818; text-decoration: none; }

.image-state-client { display: inline-block; }

.image-state { display: inline-block; position: relative; background-color: rgba(255, 255, 255, 0.25); margin-right: 1px; margin-bottom: 1px; }
.image-state .state-over { position: relative; opacity: 0; padding-left: 20px; padding-right: 20px; }
.image-state .state-out { position: absolute; top: 0px; left: 0px; opacity: 1; padding-left: 20px; padding-right: 20px; }
.image-state:hover { background-color: rgba(255, 255, 255, 0.5); }
.image-state:hover .state-over { opacity: 1; }
.image-state:hover .state-out { opacity: 0; }
.image-state.active { background-color: transparent; }

.image-state-simple { display: inline-block; position: relative; }
ul.child-term li .image-state-simple a { padding: 0px; }

.client-count { position: relative; display: inline-block; vertical-align: top; }
.client-count .counter { position: absolute; text-align: center; top: 5px; width: 100%; }
.client-count .counter.bulle-1 { background-image: url('../../../../default/files/themes_uneak/images/counter-1.png?1379089770'); background-repeat: no-repeat; background-position: top center; height: 24px; }
.client-count .counter.bulle-2 { background-image: url('../../../../default/files/themes_uneak/images/counter-2.png?1379090385'); background-repeat: no-repeat; background-position: top center; height: 24px; }
.client-count .counter.bulle-3 { background-image: url('../../../../default/files/themes_uneak/images/counter-3.png?1379089768'); background-repeat: no-repeat; background-position: top center; height: 24px; }
.client-count .counter span { position: absolute; text-align: center; color: #FFF; font-size: 10px; left: 0px; top: 2px; width: 100%; }

.field-name-field-type { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
.field-name-field-type li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 0px; padding-right: 0px; }
.field-name-field-type li:first-child, .field-name-field-type li.first { padding-left: 0; }
.field-name-field-type li:last-child { padding-right: 0; }
.field-name-field-type li.last { padding-right: 0; }
.field-name-field-type li + li:before { content: "/"; margin-left: 5px; margin-right: 5px; }

.col1-link { padding-top: 7.5px; padding-bottom: 7.5px; }
.col1-link.odd { padding-top: 7.5px; padding-bottom: 7.5px; }
.col1-link.even { padding-top: 7.5px; padding-bottom: 7.5px; }

.col1-link-white { padding-top: 7.5px; padding-bottom: 7.5px; }
.col1-link-white.even { padding-top: 7.5px; padding-bottom: 7.5px; }
.col1-link-white.odd { padding-top: 7.5px; padding-bottom: 7.5px; }

.region-footer { display: block; position: relative; width: 100%; text-align: center; }
.region-footer ul.menu li { display: inline-block; list-style-type: none; margin: 0; padding: 0 5px 0 0; font-size: 18px; }
.region-footer .block { margin: 0px; padding: 0px; display: inline-block; }

.field-name-field-gallery .field-items { overflow: hidden; *zoom: 1; }
.field-name-field-gallery .field-item { float: left; width: 50%; font-size: 0; vertical-align: top; }
.field-name-field-gallery img { max-width: 100%; height: auto; }

ul.child-term, .field-type-taxonomy-term-reference ul.field-items { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; text-transform: uppercase; }
ul.child-term li, .field-type-taxonomy-term-reference ul.field-items li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 0px; padding-right: 0px; }
ul.child-term li:first-child, ul.child-term li.first, .field-type-taxonomy-term-reference ul.field-items li:first-child, .field-type-taxonomy-term-reference ul.field-items li.first { padding-left: 0; }
ul.child-term li:last-child, .field-type-taxonomy-term-reference ul.field-items li:last-child { padding-right: 0; }
ul.child-term li.last, .field-type-taxonomy-term-reference ul.field-items li.last { padding-right: 0; }
ul.child-term li .taxo-icon.is-title .taxo-title a, .field-type-taxonomy-term-reference ul.field-items li .taxo-icon.is-title .taxo-title a { display: inline-block; background-color: rgba(255, 255, 255, 0.25); padding: 5px 10px; margin-right: 1px; margin-bottom: 1px; }
ul.child-term li .taxo-icon.is-title .taxo-title a:hover, .field-type-taxonomy-term-reference ul.field-items li .taxo-icon.is-title .taxo-title a:hover { background-color: rgba(255, 255, 255, 0.5); }
ul.child-term li .taxo-icon.is-title .taxo-title a.active, .field-type-taxonomy-term-reference ul.field-items li .taxo-icon.is-title .taxo-title a.active { background-color: transparent; }

.field-type-taxonomy-term-reference { margin-bottom: 15px; margin-right: 15px; display: inline-block; }
.field-type-taxonomy-term-reference .field-label { background-color: rgba(255, 255, 255, 0.75); padding: 7.5px; margin-bottom: 1px; float: none; }
.field-type-taxonomy-term-reference .field-items { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
.field-type-taxonomy-term-reference .field-items li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 0px; padding-right: 0px; }
.field-type-taxonomy-term-reference .field-items li:first-child, .field-type-taxonomy-term-reference .field-items li.first { padding-left: 0; }
.field-type-taxonomy-term-reference .field-items li:last-child { padding-right: 0; }
.field-type-taxonomy-term-reference .field-items li.last { padding-right: 0; }

html { overflow: hidden; background-color: #000; }

#background-sky-container { position: absolute; width: 100%; height: 100%; overflow: hidden; }

.background-sky { position: absolute; }

#background-sky-color { background-color: #246ca0; }

#page-content { overflow: auto; }

#footer { width: 100%; height: 80px; line-height: 80px; position: absolute; bottom: 0px; z-index: 99; }

html { background-color: #ebebeb; }

body { color: #181818; padding: 30px; }
