
html {
	@include hyphens(auto);
}



#page-content-wrapper {
	@include container;
	position:relative;
	max-width:1280px;
	min-width:0px;
	
		
	#page-header {
		@include column(16);
		
		#page-header-wrapper {
			@include prepend(8);
			@include column(8);
			
			#header {
				position:absolute;
				
				left: span-fluid(5);
				width: span-fluid(4);
				
				overflow: visible;
				z-index: 2;
			}
						
			#navigation {
				@include column(10);
				z-index: 1;
			}
			
			#main-content-header {
				margin-left: (100% / span-fluid(4)) * span-fluid(1);
			}
			
			
			#cover {
				position:absolute;
				height: 100%;
				
				left: span-fluid(8);
				width: span-fluid(8);
			}

			#cover-wrapper {
				height: 100%;
				width: 100%;
			}

		}
	}
	
	#main-content-node {
		@include column(16);
		
		#main-content-node-wrapper {
			@include column(16);
			
			.rubrique {
				@include column(16);
				
				.group {
					@include column(16);
					
					.group-content {
						@include column(16);
						
						.group-col-1 {
							&.col-solo {
								@include last();
							}
							@include prepend(1);
							@include column(7);
						}
						
						.group-col-2 {
							&.col-solo {
								@include prepend(8);
							}
							@include column(8, true);
						}
						
						.group-col-2-background {
							left: span-fluid(8);
							width: span-fluid(8);
						}
	
					}
					
					
					.group-link {
						@include column(16);
						
						.group-col-3 {
							@include prepend(8);
							@include column(8, true);
						}
					}
					
					
				}
				
			}
		}
	}
}





.content-clone-wrapper {
//	@include column(16);
	@include container;
	position:relative;
	max-width:1280px;
	min-width:0px;

	
	.clone-col-wrapper {
		position:relative;
	}
	
	.clone-col1 {
		@include prepend(1);
		@include column(7);
		overflow: visible;
		#header {
			position: relative;
			width: 100%;
			overflow: visible;
			right:0px;
			z-index: 3;
			
			#header-wrapper {
				position: relative;
				width: span-fluid(8);
				left: span-fluid(8);//(100% / span-fluid(4)) * span-fluid(1);
			}
		}
	}
	
	.clone-col2 {
		@include column(8, true);
		overflow: visible;
		
		#page-header-wrapper {
			position:relative;
			
			#header {
				display: none;
			}
						
			#navigation {
				width: span-fluid(10);
				z-index: 1;
			}
			
			#main-content-header {
				margin-left: (100% / span-fluid(4)) * span-fluid(1);
			}
			
			
			#cover {
				position:absolute;
				top: 0px;
				height: 100%;
				width: 100%;
			}

			#cover-wrapper {
				height: 100%;
				width: 100%;
			}
			
		}
	
	}
}


.clone-col1-wrapper {
	& > * {
		&.over {
			@include single-transition(opacity, 1s, ease-out);
			opacity:1;
		}
		
		&.out {
			@include single-transition(opacity, 0.5s, ease-out);
			opacity:0;
		}
	}
}



.scrollbar {
	z-index: 99999;
}