html {
	overflow: hidden;
	background-color: #000;
}

//
//
//	BACKGROUND
//
//

#background-sky-container {
	//@extend .extend-fullscreen-absolute;
	position:absolute;
	width:100%;
	height:100%;
//	top: $metric-block-height;
//	bottom : $metric-block-height*2;
	overflow:hidden;
}

.background-sky {
	@extend .extend-fullscreen;
	position: absolute;
}


#background-sky-color {
	background-color:$color-sky;
}




//
//
//	PAGE
//
//

#page-content {
	@extend .extend-fullscreen-absolute;
	overflow: auto;
}


#page-content-wrapper {

}




//
//
//	FOOTER
//
//

#footer {
	width:100%;
	height:$metric-footer-height;
	line-height: $metric-footer-height;
	position:absolute;
	bottom:0px;
	z-index:99;
}
