@import "include/core";



html, body, #page {
	@extend .extend-fullscreen;
	@extend .text-format-normal;
}





#background-uni {
	@extend .extend-fullscreen-absolute;
	top:0px;
	@include background-image(radial-gradient($color-background-uni, darken($color-background-uni, 80)));
}



#page-header-wrapper {
	position:relative;
	margin-bottom: $metric-separator-mega;
}


//
//
//	BLOCK LOGO
//
//
#header-wrapper {
	@extend .extend-block-black;
	@include get-block-height(1);
}


#branding {
	@include reset-margin-padding();
}

#logo {
	padding: 0px;
	margin-top: $logo-margin-top;
	margin-bottom: -5px;
}

#name-and-slogan {
	
}

#site-name {
	@extend .text-format-h3-bold;
	
	span, a {
		display: inline-block;
	}
}

#site-slogan {
	@extend .text-format-mini;
}





//
//
//	BLOCK NAVIGATION
//
//

#navigation-wrapper {
	@extend .extend-block-white-alpha-90;
	@include get-block-height(2);
}

#main-content-header {
	min-height:130px;
	margin-bottom:10px;
}


#breadcrumb-container {
	position:relative;
	padding: 0px;
	height:$logo-height;
}

#breadcrumb {
	@extend .text-format-mini;
	@include reset-margin-padding();
	bottom: 0px;
	position: absolute;
	line-height: 1em;
}

.breadcrumb-wrapper {
	@include reset-margin-padding();
}

#crumbs {
	@include make-link-inline-separate($separator:"/");
	a {
		@extend .text-format-mini;
	}
}



#rubrique-title, .rubrique-title {
	@extend .text-format-h3;
}

#rubrique-sous-title, .rubrique-sous-title {
	@extend .text-format-mini;
}



#loading-animation {
	min-height:20px;
	margin-bottom:10px;
}



#top-menu {
	position:relative;
	bottom:0px
}

#primary-menu-bar, .menu-wrapper {
	@include reset-margin-padding();
}

ul.menu.primary-menu {
	@extend .text-format-mini;
	@include horizontal-list(0px);
	
	li a {
		display: inline-block;
		background-color: $color-primary-menu-background;
		padding: 5px 10px;
		margin-right: 1px;
		margin-bottom: 1px;
		
		&:hover {
			background-color: lighten($color-primary-menu-background-active, 50);
		}
		
		&.active {
			background-color: $color-primary-menu-background-active;
		}
		
	}
}






//
//
//	BLOCK COVER
//
//
//main-content-node






//
//
//	CONTENT
//
//
.group {
}

.group-content {
	position: relative;
}

.group-col {
	position:relative;
	z-index:1;
}

.block-title {
	@extend .extend-block-black-rubrique-title;
	@extend .text-format-mini-bold;
	
	padding-top: $metric-block-padding / 4;
	padding-bottom: $metric-block-padding / 4;
}


.group-col-1 {

	.field-name-field-link {
		.field-item {
			@extend .col1-link;
		}
	}
	
	.block-node-title {
		@extend .extend-block-black-alpha;
	}

}



.group-col-2 {
	.node {
		background-color: transparent;
	}
}



.group-col-2-background {
	position: absolute;
	z-index:0;
	height:100%;
	padding:0px;
}


.group-col-3 {
	.node-color-black, .node-color-normal {
		@extend .extend-block-white;
		a {
			@extend .text-format-mini;
		}
	}
}







.vocab {
	@extend .text-format-h3;
	@include make-link-inline-separate($separator:"/");

	& > li.link-label a {
		@extend .text-format-h3;
	}
}







.link-desc, .client-body {
	@extend .text-format-h3;
	
	margin-bottom: $metric-block-padding;
}



.reference-desc {
	margin-top: $metric-block-padding;
}




.margin-separator-none {
	margin-bottom: $metric-separator-none;
	&.last { margin-bottom: 0px; }
}
.margin-separator-mini {
	margin-bottom: $metric-separator-mini;
	&.last { margin-bottom: 0px; }
}
.margin-separator-normal {
	margin-bottom: $metric-separator-normal;
	&.last { margin-bottom: 0px; }
}
.margin-separator-maxi {
	margin-bottom: $metric-separator-maxi;
	&.last { margin-bottom: 0px; }
}

.margin-separator-footer {
	padding-bottom: $metric-separator-footer;
}


.group-col-2 .node-info > .image-state {
	margin-bottom: $metric-block-padding;
}













//
//
//	SCROLL BARS
//
//


.scrollbar-vertical {
	width:20px;
	height:100%;
	top:0px;
	right:0px;
}

.scrollbar-vertical-dragger-container {
	cursor:pointer;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.scrollbar-vertical-dragger-rail {
	width:6px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}



.scrollbar-vertical-dragger-bar {
	
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

//
//

.scrollbar {
	position:absolute;
}

.scrollbar-dragger-container {
	position:absolute;
}

.scrollbar-dragger-rail {
	position:relative;
	padding:1px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}


.scrollbar-dragger-bar {
	position:relative;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,1);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}

//
//




.clone-group-content {
	position: relative;
	
	.group-col-2-background {
		width: 100%;
		height: 100%;
	}
}






//
//
//	FOOTER
//
//

#footer {
	&:hover {
		background-color: rgba(white, 0.5);
	}
}


#footer-container {
	height:100%;
	
	.region {
		height:100%;
		z-index:2;
		
		.region-inner {
			height:100%;
		}
	}
}




.music,
#block-block-1,
#block-menu-menu-officiel-sous-menu {
	padding:10px;
	margin:0px;
	margin-right:2px;
	height:30px;
	line-height:30px;
	vertical-align: middle;

	//@include background-image(linear-gradient(rgba(white, 0.12), rgba(white, 0)));
	background-color:rgba(white, 0.2);
	color:rgba(black, 0.5);
}

#block-menu-menu-officiel-sous-menu {
	.menu,
	.last.leaf,
	.block-inner {
		margin:0px;
		padding:0px;
	}
}

#block-block-1 .block-content {
	line-height: 35px;
}


//
//



//
//
//	MUSIC
//
//	
.music {
	
	background:{
		image:image-url($img-path-sound-off);
		repeat:no-repeat;
		position:center center;
	}

	width:54px;
	vertical-align:middle;
	display: inline-block;
	cursor:pointer;
	
	&.on {
		background:{
			image:image-url($img-path-sound-on);
			repeat:no-repeat;
			position:center center;
		}
	}
	
	&.off {
		background:{
			image:image-url($img-path-sound-off);
			repeat:no-repeat;
			position:center center;
		}	
	}
}
//
//



.field-name-field-body {
	ul {
		margin-left: 20px;
		list-style-type:disc;
	}
}




.content-clone, .content-clone-wrapper {
	@extend .extend-fullscreen;
}


.media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper, .vimeo-player,
.media-youtube-player {
	width: 100% !important;
	height: 40% !important;
}



input {
	max-width: 100%;
}


.field-type-text-with-summary {
	//text-align: justify;
}


