
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and 
 * look under the "CSS" settings tab.
 */


@import "include/main";


/*
 * Really small screens and up
 */
//@media only screen and (min-width: 220px) {}


/*
 * Smartphone sizes and up
 * Mobile portrait (320x480)
 */
//@media only screen and (min-width: 320px) {}




/*
 * Smartphone sizes and down
 * Mobile paysage (480x320)
 */
@media only screen and (min-width: 480px) {
  
  /* 
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   * 
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */ 
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
  
}







/*
 * Tablet sizes and up
 * Petite tablette portrait (600x800)
 */
//@media only screen and (min-width: 600px) {}


@media only screen and (min-width: 675px) {
	@import "include/main-675";
}


@media only screen and (min-width: 780px) {
	@import "include/main-780";
}



/*
 * Tablet sizes and up
 * Petite tablette paysage (800x600)
 */
//@media only screen and (min-width: 800px) {}




/*
 * Tablet sizes and up
 * Tablette portrait (768x1024)
 */
//@media only screen and (min-width: 768px) {}


@media only screen and (min-width: 960px) {
	@import "include/main-960";
}


/*
 * 
 * Tablette paysage (1024x768)
 */
//@media only screen and (min-width: 1024px) {}


@media only screen and (min-width: $standard-size) {
	@import "include/main-standard";
}


