$background-comment-color:#b3d7e7;
$background-comment-list-color:#eeeeee;
$background-sidebar-primary-color:#e4e4e4;
$background-sidebar-secondary-color:#eeeeee;



$logo-position:135px;

$col-1-width-px:680px;
$col-2-width-px:300px;
$col-margin-width-px:20px;
$background-top-margin:48px;

$node-teaser-image-width-px:300px;
$node-image-width-px:640px;




$standard-size:$col-margin-width-px + $col-1-width-px + $col-margin-width-px + $col-2-width-px + $col-margin-width-px;
$col-margin-width-perc:percentage($col-margin-width-px / $standard-size);

$main-width: 100% - $col-margin-width-perc * 2;
$mainmenu-position:$logo-position * 0.518;


$col-1-width-perc:percentage($col-1-width-px / $standard-size);
$col-2-width-perc:percentage($col-2-width-px / $standard-size);
$col-2-pos-perc:$col-margin-width-perc + $col-1-width-perc + $col-margin-width-perc;

$padding-node:percentage($col-margin-width-px / $col-1-width-px);
$padding-node-top:percentage($background-top-margin / $col-1-width-px);

$node-image-width-perc:percentage($node-image-width-px / $col-1-width-px);
$node-teaser-image-width-perc:percentage($node-teaser-image-width-px / $col-1-width-px);


$link-normal-mainmenu-color:#FFF;
$link-hover-mainmenu-color:#CCC;
$link-active-mainmenu-color:$sky_color;
$link-visited-mainmenu-color:#FFF;
$link-focus-mainmenu-color:#FFF;

$link-normal-secondmenu-color:#FFF;
$link-hover-secondmenu-color:#CCC;
$link-active-secondmenu-color:$sky_color;
$link-visited-secondmenu-color:#FFF;
$link-focus-secondmenu-color:#FFF;

$link-normal-block-color:$sky_color;
$link-hover-block-color:#CCC;
$link-active-block-color:$sky_color;
$link-visited-block-color:$sky_color;
$link-focus-block-color:$sky_color;

$link-normal-breadcrumb-color:$sky_color;
$link-hover-breadcrumb-color:#CCC;
$link-active-breadcrumb-color:$sky_color;
$link-visited-breadcrumb-color:$sky_color;
$link-focus-breadcrumb-color:$sky_color;

$link-normal-pager-color:$sky_color;
$link-hover-pager-color:$title_color;
$link-active-pager-color:$sky_color;
$link-visited-pager-color:$sky_color;
$link-focus-pager-color:$sky_color;