$img-path-background-article:"background-article.png";
$img-path-frontground-article-image:"frontground-article-image.png";
$img-path-frontground-article-teaser-even:"frontground-article-teaser-even.png";
$img-path-frontground-article-teaser-odd:"frontground-article-teaser-odd.png";
$img-path-background-right-block2-bottom:"background-right-block2-bottom.png";
$img-path-background-breadcrumb:"background-breadcrumb.png";

/*
$img-path-search-button:"search-button.png";
$img-path-background-header:"background-header.jpg";
$img-path-background-article-teaser:"background-article-teaser.png";
$img-path-frontground-article-teaser-image:"frontground-article-teaser-image.png";
$img-path-background-right-block-top:"background-right-block-top.png";
$img-path-background-right-block-middle:"background-right-block-middle.png";
$img-path-background-right-block-bottom:"background-right-block-bottom.png";
$img-path-background-right-block2-top:"background-right-block2-top.png";
$img-path-background-comment-top:"background-comment-top.png";
$img-path-background-comment-bottom:"background-comment-bottom.png";
$img-path-background-comment-list-top:"background-comment-list-top.png";
$img-path-read-more:"read-more.png";
$img-path-write-comment:"write-comment.png";
$img-path-comment:"comment.png";
*/