
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */




@import "include/img-path";
@import "include/const";

@import "compass/typography/lists/horizontal-list";
@import "compass/typography/links/hover-link";
@import "compass/typography/links/link-colors";



#header {
	display:none;
}


#main-content {
	margin:0px;
}

.container {
	max-width:$col-1-width-px; //760px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
//	background-color:#FFCCCC;
}





body {
	color:$text_color;
	font-size:$font_size_mini;
	font-family:$font_regular;
	text-transform:uppercase;
	
	a {
		@include hover-link();
		@include link-colors($link-normal-block-color, $link-hover-block-color, $link-active-block-color, $link-visited-block-color, $link-focus-block-color);
	}
}



.node-title {
	font-size:$font_size_title;
	@include text-shadow(rgba(white, 0.4) 1px 1px 0px, rgba(black, 0.2) 0px 0px 5px);
	line-height:1em;
	margin-top:5px;
}

.link-more {
	clear:both;
}


.type-block {
	float:left;
	margin-bottom:50px;
	&:after {
		content:"";
		display:block;
		width:image-width($img-path-background-right-block2-bottom);
		height:image-height($img-path-background-right-block2-bottom);
		
		background:{
			image:image-url($img-path-background-right-block2-bottom);
			repeat:no-repeat;
		}
	}
}


.link-more {
	display:block;
	margin:20px;

	padding:0px;
	padding-top:70px;
	
	
	
	
	a {
		display:block;
		white-space:nowrap;
		text-transform:uppercase;
		font-size:$font_size_normal;
		font-family:$font_regular;
		padding:6px;
		padding-left:20px;
		padding-right:20px;
		text-align:center;
		
		border:1px solid rgba(#CCCCCC, 1);
		@include background-image(linear-gradient(#FFFFFF, #EEEEEE));
		@include box-shadow(rgba(#EEEEEE, 0.5) 0 0 5px 5px inset);
		@include text-shadow(rgba(white, 1) 1px 1px 0px, rgba(black, 0.2) 0px 0px 5px);
		
		@include hover-link();
		@include link-colors($link-normal-breadcrumb-color, $link-hover-breadcrumb-color, $link-active-breadcrumb-color, $link-visited-breadcrumb-color, $link-focus-breadcrumb-color);
	
		&.active {
			border:1px solid rgba(#EEEEEE, 1);
			@include background-image(linear-gradient(#FAFAFA, #FFFFFF));
			@include box-shadow(rgba(#FFFFFF, 0.5) 0 0 5px 5px inset);
			@include text-shadow(rgba(white, 1) 1px 1px 0px, rgba(white, 0.2) 0px 0px 5px);
			
			@include link-colors($light_color, $light_color, $light_color, $light_color, $light_color);
		}
	}
		
}




.node {
	float:left;
	width:310px;
	margin-left:$padding-node;
	
	&.even {
		clear:left;
		
		.node-image {
			.field-name-field-image {
				&:after {
					background:{
						image:image-url($img-path-frontground-article-teaser-even);
					}
				}
			}
		}
	}
	
	&.odd { }
	
	nav,
	.field-name-field-type,
	.node-content {
		display:none;
	}
	
	.node-image {
		
		width:100%;
		height:auto;
		
		.field-name-field-image {
			position:relative;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			
			img {
				max-width:auto;
				width:100%;
				height:auto;
			}
			
			&:after {
				content:"";
				position:absolute;
				left:0px;
				top:0px;
				width:100%;
				height:100%;
				
				background:{
					image:image-url($img-path-frontground-article-teaser-odd);
					repeat:no-repeat;
				}
				@include background-size(100% 100%);
			}
		}
	}
	
	
}



//.node-3,
//.node-4,
.node-5,
.node-6,
.node-7,
.node-8,
.node-9,
.node-10 {
	clear:both;
	width:$col-1-width-px - 20px * 4;
	
	
	margin:0px;
	margin-left:20px;
	margin-right:20px;
	padding:0px;
	border-bottom: thin solid #E5E5E5;
	margin-bottom: 1px;
	padding: 20px;
	
	&.even {
		background-color:rgba(#000, 0.01);
	}
	
	&:hover {
		background-color:rgba(#000, 0.05);
	}
	
	.node-image {
		display:none;
	}
}

.node-5 {
	margin-top:50px;
}


.page-node .node,
.first.odd {
	width:$col-1-width-px;
	margin:0px;
	margin-bottom:30px;
	
	
	
	.node-data {
		padding:$padding-node;
		margin: 0px;
		padding-top:$padding-node-top;
		min-height:image-height($img-path-background-article);
		
		background:{
			image:image-url($img-path-background-article);
			repeat:no-repeat;
			position:top center;
		}
		@include background-size(100%);
	}
	

	.node-image {
		
		width:100%;
		height:auto;
		
		
		.field-name-field-image {
			position:relative;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			
			&:after {
				content:"";
				position:absolute;
				left:0px;
				top:0px;
				width:100%;
				height:100%;
				
				background:{
					image:image-url($img-path-frontground-article-image);
					repeat:no-repeat;
				}
				@include background-size(100% 100%);
			}
		}
	}
	
	.node-info {
		width:100%;
		margin-top:5px;
				
		.node-title {
			margin-top:15px;
			font-size:$font_size_maxi;
		}
		
		.field-name-field-body,
		.field-name-body {
			margin-top:10px;
								
			.field-item {
				
				p:first-child:first-letter {
					font-size: 36px;
					line-height:1em;
					font-weight: bold;
					float: left;
					vertical-align:top;
				}
			}
			
		}
		
		
		nav {
			display:block;
		}
		
		.node-content {
			margin-top:20px;
			margin-bottom:20px;
			display:block;
		}
	}
	
	
}


#main-content-header #page-title {
	display:none;
}

#footer {
	margin:$col-margin-width-perc;
	margin-top:100px;
}
#block-menu-menu-officiel-sous-menu {
	margin:0px;
	
	.block-inner {
		margin:0px;
	}
	.menu {
		@include horizontal-list(5px);
		font-size: 16px;
	}
}


#block-block-1 {
	p,
	.block-inner {
		margin:0px;
	}
	
}




.breadcrumb-container {
	height:image-height($img-path-background-breadcrumb);
}


#breadcrumb {
	height:image-height($img-path-background-breadcrumb);
	position:relative;

	background:{
		image:image-url($img-path-background-breadcrumb);
		repeat:no-repeat;
		position:top left;
	}
	
	
	.breadcrumb-wrapper {
		position:absolute;
		left:0px;
		top:78px;
		
		color:$light_color;
		font-size:$font_size_mini;
		text-transform:uppercase;
		font-family:$font_regular;
		@include text-shadow(rgba($light_color, 0.5) 0px 0px 5px);
		
		margin:0px;
	
		#crumbs {	//ol
			
			
			.crumb {	//li
			
				
				
				a {
					text-transform:uppercase;
					font-size:$font_size_mini;
					font-family:$font_regular;
					line-height:1em;
					
					padding:0px;
					@include hover-link();
					@include link-colors($link-normal-breadcrumb-color, $link-hover-breadcrumb-color, $link-active-breadcrumb-color, $link-visited-breadcrumb-color, $link-focus-breadcrumb-color);
				}	
				
				.crumb-sepreator {
					line-height:1em;
				}
				
				.crumb-title {
					display:block;
					color:$text_color;
					font-size:$font_size_maxi;
					text-transform:uppercase;
					font-family:$font_bold;
					line-height:1em;
					margin:0px;
				}
				
				&.crumb-first {
				}
				
				&.crumb-last {
				}
				
				
			}
		}
	}
}





/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */


/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */


/*
 * Smartphone sizes and down
 */
@media only screen and (max-width: 480px) {
  
  /* 
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   * 
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */ 
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}


/*
 * Tablet sizes and up
 */
/* @media only screen and (min-width: 768px) {} */


/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */
