
html {
	@include hyphenation;
}



#page-content-wrapper {
	@include container;
	position:relative;
	max-width:1280px;
	min-width:0px;
	
		
	#page-header {
		@include column(16);
		
		#page-header-wrapper {
			
			#header {
				//position:absolute;
				z-index: 2;
			}
						
			#navigation {
				z-index: 1;
			}
			
			#cover {
				position:absolute;
				top: 0px;
				height: 100%;
				width: 100%;
			}

			#cover-wrapper {
				height: 100%;
				width: 100%;
			}

		}
	}
	
	#main-content-node {
		@include prepend(1);
		@include column(14);
		
		.group-col-2-background {
			//height: 100%;
			width: 100%;
			top:0px;
		}
	}
}





.content-clone-wrapper {
	@include container;
	position:relative;
	max-width:1280px;
	min-width:0px;

	
	.clone-col-wrapper {
		position:relative;
	}
	
	.clone-col1 {
		@include prepend(1);
		@include column(14);
		overflow: visible;
		
		
		#header {
			position: relative;
			width: 100%;
			overflow: visible;
			left:0px;
			z-index: 3;
			
		}
	}
	
	.clone-col2 {
		@include prepend(1);
		@include column(14);
		overflow: visible;
		position: absolute;
		left: 0px;
		
		#page-header-wrapper {
			position:relative;
			
			#header {
				display: none;
			}
						
			#navigation {
				width: 100%;
				z-index: 1;
			}
			
			
			#cover {
				position:absolute;
				top: 0px;
				height: 100%;
				width: 100%;
			}

			#cover-wrapper {
				height: 100%;
				width: 100%;
			}
			
		}
	
	}
}


.clone-col1-wrapper {
	& > * {
		&.over {
			@include single-transition(opacity, 1s, ease-out);
			opacity:1;
		}
		
		&.out {
			@include single-transition(opacity, 0.5s, ease-out);
			opacity:0;
		}
	}
}



.scrollbar {
	z-index: 99999;
}