
html {
	@include hyphens(auto);
}


.node-row-3,
.node-row-1,
.node-row-2,
#main-content,
#page-header {
	@include container;
	position:relative;
	max-width:1020px;
	min-width:0px;
}

#page-header-wrapper {
	@include column(4);
}




.chapter-col-1 {
	@include column(2);
}

.chapter-col-2 {
	@include column(4);
	@include last;
}

.node-cover {
	@include column(4);
	position: relative;
	min-height: $cover-height;
	height: 100%;
}

#cover-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}

.node-more {
	@include column(2);
	@include last;
	position: relative;
	height: $cover-height;
}

.node-info {
	@include column(2);
}

.node-desc {
	@include column(4);
	@include last;
}

.node-social {
	@include column(6);
	@include last;
}

#content {
	@include column(4);
}

#sidebar-group {
	@include column(2);
	@include last;
}