@import "include/core";


html, body, #page {
	@extend .extend-fullscreen;
	@extend .text-format-normal;
}



//
//
//	BLOCK LOGO
//
//
#block-header {
	@extend .extend-block-black;
}

#header-wrapper {
	background-color: transparent;
}

#header {
	display: inline-block;
}


#branding {
	@include reset-margin-padding();
}

#logo {
	padding: 0px;
	margin-top: $logo-margin-top;
	margin-bottom: 5px;
}


#site-name {
	@extend .text-format-h3-bold;
	
	span, a {
		display: inline-block;
	}
}

#site-slogan {
	@extend .text-format-mini;
}









//
//
//	BLOCK NAVIGATION
//
//

#navigation {
	display: inline-block;
	vertical-align: top;
	margin-top: $logo-height;
	margin-left: $metric-block-padding;
}



#navigation-wrapper {
}

#main-content-header {
	min-height:130px;
	margin-bottom:10px;
}



#top-menu {
	position:relative;
	bottom:0px
}

#primary-menu-bar, .menu-wrapper {
	@include reset-margin-padding();
}

ul.menu.primary-menu {
	@extend .text-format-mini-bold;
	@include horizontal-list(0px);
	
	li a {
		display: inline-block;
		padding: 5px 10px;
		margin-right: 1px;
		margin-bottom: 1px;
	}
}







//




.node.node-teaser {
	background-color: $color-block-white;
	margin-bottom: 1px;
}


.field-name-field-chapter {
	& > .field-items {
		& > .field-item {
			background-color: $color-block-white;
		}
	}	
}

.chapter-col-1 {
	padding-bottom: $metric-block-padding;
}

.chapter-col-2 {
	padding-bottom: $metric-block-padding;
}

.chapter-cover {
	position: relative;
	min-height: $cover-height / 2;
	height: 100%;
}


.chapter-cover-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}



.chapter-cover {
	background-color: $color-block-white-dark;
}

.chapter-links {
	
	ul.chapter-link-items {
		margin: 0px;
		li {
			@extend .col1-link-white;
			margin: 0px;
		}
	}
	
	.block-chapter-title {
		@extend .extend-block-black-alpha;
	}
}


.chapter-title {
	@extend .extend-block-white;
}

.chapter-body {
	@extend .extend-block-white;
}





.field-collection-container .field-items .field-item {
	margin-bottom: 1px;
}


//


.node-row-1 {
	background-color: $color-block-white;
}

.node-row-2 {
	background-color: $color-block-white-light;
}

.node-row-4 {
	background-color: $color-block-black;
	padding-bottom: $metric-block-padding*3;
}

#content {
	background-color: $color-block-white-dark;
}


//
//

div.sidebar {
	float: none;
}

#sidebar-group {
	position: relative;
}

.block-inner {
	margin: 0px;
}



#comments h2.comment-title,
#content h2.comment-form,
.comment-title,
.block-title {
	@extend .text-format-h4;
	margin-bottom: $metric-block-padding;
}



.sidebar {
	width: auto;
	margin-left: 0px;
	padding: 0px;
}

.region-sidebar-first {
	.block {
		@extend .extend-block-black;
		margin-bottom: 0px;
	}
	
}

.region-sidebar-second {
	.block {
		@extend .extend-block-white-light;
		margin-bottom: 0px;
	}
}


#block-search-form {
	@extend .extend-block-white-dark;
}



.the-comment {
	@extend .extend-block-white-dark;
}

.the-comment-form {
	@extend .extend-block-white;
}


#comments {
	margin: 0px;
	margin-top: $metric-block-padding * 3;

	.indented {
		padding: 0px;
		margin: 0px;
		padding-left: $metric-block-padding;
		background-color: $color-block-white-dark;
	}
	
}


.comment {
	@extend .extend-block-white-light;
	
	.comment-title {
		@extend .text-format-h4;
	}
	
	nav {
		margin-top: $metric-block-padding;
	}
	
	.user-picture {
		float: left;
		margin-right: 30px;
	}
	
	.author-datetime {
		@extend .text-format-mini;
		margin-bottom: $metric-block-padding / 2;
	}
	
	
	ul.links {
		@extend .text-format-mini;
		@include horizontal-list(0px);
		
		li a {
			display: inline-block;
			background-color: $color-comment-menu-background;
			padding: 5px 10px;
			margin-right: 1px;
			margin-bottom: 1px;
			
			&:hover {
				background-color: lighten($color-comment-menu-background-active, 50);
			}
			
			&.active {
				background-color: $color-comment-menu-background-active;
			}
			
		}
	}
}

.item-list > ul.pager {
	@extend .extend-block-black;
	padding: $metric-block-padding;
}


.node-client {
	@extend .extend-block-white;
}

.node-links {
	position: absolute;
	width: 100%;
	bottom: 0px;
	
	.field-name-field-link {
		.field-item {
			@extend .col1-link;
		}
	}
	
	.block-node-title {
		@extend .extend-block-black-alpha;
	}
}

.node-social,
.node-title {
	@extend .extend-block-white-light;
}

.node-body {
	@extend .extend-block-white-light;
}


.spec-tech {
	@extend .extend-block-white;
}

.field-type-taxonomy-term-reference.field-label-inline .field-item {
	padding: 0px;
}

.field-name-field-gallery img {
	width: 100%;
}


//
//
//
//
//

.node-result-no-content,
.node-result-node-count {
	@extend .extend-block-white;
	//margin-top: $metric-block-padding;
}

.node-result-current-page {
	@extend .extend-block-black;
}


.term-filter {
	@extend .extend-block-white-light;
	
	&.field-type-taxonomy-term-reference {
		margin: 0px;
		//margin-bottom: $metric-block-padding;
	}
}




//
//
//	WIDGET ET VIDEO
//
//

.media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper, .vimeo-player,
.media-youtube-player {
	width: 100% !important;
	height: 40% !important;
}

.twtr-doc {
	width: 100% !important;
}

.fb-like-box {
	width: 100%;
	
	& > span {
		width: 100% !important;
		iframe {
			width: 100% !important;
		}
	}
}






//
//
//
//
//

ul.block-items {
	@include reset-margin-padding();
	list-style: none;
	
	li {
		@extend .col1-link;
		margin: 0px;
		
		&.odd {
			padding: $metric-block-padding / 4;
		}
		
		&.even {
			padding: $metric-block-padding / 4;
		}
		
		
	}
}


#block-system-main,
.field-collection-container,
.node {
	margin: 0px;
	padding: 0px;
	border: 0px;
}


//
//
//
//
//
ul.vocab {
	list-style: none;
}


.link-label {
	color: $color-sky;
	a {
		//@extend .text-format-h4;
	}
}



#footer {
	@extend .extend-block-white-dark;
	padding-top: $metric-block-padding*3;
}




.not-node {
	@extend .extend-block-white;
}


.search-result {
	@extend .extend-block-white-light;
}




.block-item-list-header {
	@extend .text-format-mini;
}

.block-item-list-content {
	@extend .text-format-mini-bold;
}



.field-collection-view {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.profile-adds {

	.field-type-field-collection {
		& > .field-items > .field-item {
			&.odd {	@extend .extend-block-white; }
			&.even {	@extend .extend-block-white-light; }
		}

		& > .field-label {
			@extend .text-format-h3;
			@extend .extend-block-white-dark;
		}
	}
	
	.node-contact {
		@extend .extend-block-white;
	}
	
	.node-contact,
	.field-type-field-collection,
	.field-name-field-acualite,
	.field-name-field-projet {
		margin-top: $metric-block-padding * 3;
	}
	
}

.profile {
	//background-color: $color-block-white;
	margin: 0px;
	
	.pofile-row > .field-name-field-body {
		@extend .extend-block-white;
	}
	
}


.profile-menu-list {
	ul {
		@extend .text-format-mini;
		@include horizontal-list(0px);
		
		li a {
			display: inline-block;
			background-color: $color-comment-menu-background;
			padding: 5px 10px;
			margin-right: 1px;
			margin-bottom: 1px;
			
			&:hover {
				background-color: lighten($color-comment-menu-background-active, 50);
			}
			
			&.active {
				background-color: transparent;
			}
			
		}
	}
	
}


.taxo-description {
	white-space: normal;
	margin-top: $metric-block-padding;
}


.field-collection-view .field-label {
	width: auto;
}

.field-name-field-level,
.field-name-field-year-month-range,
.field-name-field-year-range {
	@extend .text-format-mini;
}

.field-name-field-title {
	@extend .text-format-h3;
	color: $color-sky;
}
