html {
	overflow: auto;
}



#page-header {
	min-height: $cover-height;
}



//
//
//	BACKGROUND
//
//

#background-sky-container {
	position: relative;
	overflow: hidden;
//	height: $background-node-height;
	width: 100%;
}

.background-sky {
	@extend .extend-fullscreen;
	position: absolute;
}

#background-sky-color {
	background-color:$color-sky;
}