@font-face { font-family: "DIN Light"; src: url('../fonts/DINLi6.ttf') format('truetype'); }

@font-face { font-family: "DIN Regular"; src: url('../fonts/DINRe12.ttf') format('truetype'); }

@font-face { font-family: "DIN Bold"; src: url('../fonts/DINBo3.ttf') format('truetype'); }

/* Target IE 6, 7 and 8 (less than IE9) */
/* Assuming a mobile first approach with respond.js OFF, we must reset the font size for lt IE9 */
html { font-size: 81.3%; }
