@font-face { font-family: "DIN Light"; src: url('../fonts/DINLi6.ttf') format('truetype'); }

@font-face { font-family: "DIN Regular"; src: url('../fonts/DINRe12.ttf') format('truetype'); }

@font-face { font-family: "DIN Bold"; src: url('../fonts/DINBo3.ttf') format('truetype'); }

/* responsive.custom.css is for custom media queries that are not set via the theme settings, such as cascading media queries.  By default all the other responsive stylesheets used in Adaptivetheme use a "stacking method", however cascading media queries use a waterfall method so you can leverage the cascade and inheritance for all browsers that support media queries, regardless of screen size.  @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack  NOTE: this file loads by default, to disable got to your theme settings and look under the "CSS" settings tab. */
/*
$img-path-search-button:"search-button.png";
$img-path-background-header:"background-header.jpg";
$img-path-background-article-teaser:"background-article-teaser.png";
$img-path-frontground-article-teaser-image:"frontground-article-teaser-image.png";
$img-path-background-right-block-top:"background-right-block-top.png";
$img-path-background-right-block-middle:"background-right-block-middle.png";
$img-path-background-right-block-bottom:"background-right-block-bottom.png";
$img-path-background-right-block2-top:"background-right-block2-top.png";
$img-path-background-comment-top:"background-comment-top.png";
$img-path-background-comment-bottom:"background-comment-bottom.png";
$img-path-background-comment-list-top:"background-comment-list-top.png";
$img-path-read-more:"read-more.png";
$img-path-write-comment:"write-comment.png";
$img-path-comment:"comment.png";
*/
#header { display: none; }

#main-content { margin: 0px; }

.container { max-width: 680px; width: 100%; margin-left: auto; margin-right: auto; }

body { color: #666666; font-size: 10px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; text-transform: uppercase; }
body a { text-decoration: none; color: #246ca0; }
body a:hover { text-decoration: underline; }
body a:visited { color: #246ca0; }
body a:focus { color: #246ca0; }
body a:hover { color: #cccccc; }
body a:active { color: #246ca0; }

.node-title { font-size: 14px; text-shadow: rgba(255, 255, 255, 0.4) 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px 0px 5px; line-height: 1em; margin-top: 5px; }

.link-more { clear: both; }

.type-block { float: left; margin-bottom: 50px; }
.type-block:after { content: ""; display: block; width: 679px; height: 48px; background-image: url('../images/background-right-block2-bottom.png?1347466399'); background-repeat: no-repeat; }

.link-more { display: block; margin: 20px; padding: 0px; padding-top: 70px; }
.link-more a { display: block; white-space: nowrap; text-transform: uppercase; font-size: 12px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; padding: 6px; padding-left: 20px; padding-right: 20px; text-align: center; border: 1px solid #cccccc; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(#ffffff, #eeeeee); background-image: -moz-linear-gradient(#ffffff, #eeeeee); background-image: -o-linear-gradient(#ffffff, #eeeeee); background-image: linear-gradient(#ffffff, #eeeeee); -webkit-box-shadow: rgba(238, 238, 238, 0.5) 0 0 5px 5px inset; -moz-box-shadow: rgba(238, 238, 238, 0.5) 0 0 5px 5px inset; box-shadow: rgba(238, 238, 238, 0.5) 0 0 5px 5px inset; text-shadow: white 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px 0px 5px; text-decoration: none; color: #246ca0; }
.link-more a:hover { text-decoration: underline; }
.link-more a:visited { color: #246ca0; }
.link-more a:focus { color: #246ca0; }
.link-more a:hover { color: #cccccc; }
.link-more a:active { color: #246ca0; }
.link-more a.active { border: 1px solid #eeeeee; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(#fafafa, #ffffff); background-image: -moz-linear-gradient(#fafafa, #ffffff); background-image: -o-linear-gradient(#fafafa, #ffffff); background-image: linear-gradient(#fafafa, #ffffff); -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 5px 5px inset; -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 5px 5px inset; box-shadow: rgba(255, 255, 255, 0.5) 0 0 5px 5px inset; text-shadow: white 1px 1px 0px, rgba(255, 255, 255, 0.2) 0px 0px 5px; color: #999999; }
.link-more a.active:visited { color: #999999; }
.link-more a.active:focus { color: #999999; }
.link-more a.active:hover { color: #999999; }
.link-more a.active:active { color: #999999; }

.node { float: left; width: 310px; margin-left: 2.94118%; }
.node.even { clear: left; }
.node.even .node-image .field-name-field-image:after { background-image: url('../images/frontground-article-teaser-even.png?1347661237'); }
.node nav, .node .field-name-field-type, .node .node-content { display: none; }
.node .node-image { width: 100%; height: auto; }
.node .node-image .field-name-field-image { position: relative; left: 0px; top: 0px; width: 100%; height: 100%; }
.node .node-image .field-name-field-image img { max-width: auto; width: 100%; height: auto; }
.node .node-image .field-name-field-image:after { content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-image: url('../images/frontground-article-teaser-odd.png?1347661162'); background-repeat: no-repeat; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%; }

.node-5, .node-6, .node-7, .node-8, .node-9, .node-10 { clear: both; width: 600px; margin: 0px; margin-left: 20px; margin-right: 20px; padding: 0px; border-bottom: thin solid #E5E5E5; margin-bottom: 1px; padding: 20px; }
.node-5.even, .node-6.even, .node-7.even, .node-8.even, .node-9.even, .node-10.even { background-color: rgba(0, 0, 0, 0.01); }
.node-5:hover, .node-6:hover, .node-7:hover, .node-8:hover, .node-9:hover, .node-10:hover { background-color: rgba(0, 0, 0, 0.05); }
.node-5 .node-image, .node-6 .node-image, .node-7 .node-image, .node-8 .node-image, .node-9 .node-image, .node-10 .node-image { display: none; }

.node-5 { margin-top: 50px; }

.page-node .node, .first.odd { width: 680px; margin: 0px; margin-bottom: 30px; }
.page-node .node .node-data, .first.odd .node-data { padding: 2.94118%; margin: 0px; padding-top: 7.05882%; min-height: 410px; background-image: url('../images/background-article.png?1347659364'); background-repeat: no-repeat; background-position: top center; -webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; }
.page-node .node .node-image, .first.odd .node-image { width: 100%; height: auto; }
.page-node .node .node-image .field-name-field-image, .first.odd .node-image .field-name-field-image { position: relative; left: 0px; top: 0px; width: 100%; height: 100%; }
.page-node .node .node-image .field-name-field-image:after, .first.odd .node-image .field-name-field-image:after { content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-image: url('../images/frontground-article-image.png?1347659550'); background-repeat: no-repeat; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%; }
.page-node .node .node-info, .first.odd .node-info { width: 100%; margin-top: 5px; }
.page-node .node .node-info .node-title, .first.odd .node-info .node-title { margin-top: 15px; font-size: 24px; }
.page-node .node .node-info .field-name-field-body, .page-node .node .node-info .field-name-body, .first.odd .node-info .field-name-field-body, .first.odd .node-info .field-name-body { margin-top: 10px; }
.page-node .node .node-info .field-name-field-body .field-item p:first-child:first-letter, .page-node .node .node-info .field-name-body .field-item p:first-child:first-letter, .first.odd .node-info .field-name-field-body .field-item p:first-child:first-letter, .first.odd .node-info .field-name-body .field-item p:first-child:first-letter { font-size: 36px; line-height: 1em; font-weight: bold; float: left; vertical-align: top; }
.page-node .node .node-info nav, .first.odd .node-info nav { display: block; }
.page-node .node .node-info .node-content, .first.odd .node-info .node-content { margin-top: 20px; margin-bottom: 20px; display: block; }

#main-content-header #page-title { display: none; }

#footer { margin: 1.92308%; margin-top: 100px; }

#block-menu-menu-officiel-sous-menu { margin: 0px; }
#block-menu-menu-officiel-sous-menu .block-inner { margin: 0px; }
#block-menu-menu-officiel-sous-menu .menu { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; font-size: 16px; }
#block-menu-menu-officiel-sous-menu .menu li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 5px; padding-right: 5px; }
#block-menu-menu-officiel-sous-menu .menu li:first-child, #block-menu-menu-officiel-sous-menu .menu li.first { padding-left: 0; }
#block-menu-menu-officiel-sous-menu .menu li:last-child { padding-right: 0; }
#block-menu-menu-officiel-sous-menu .menu li.last { padding-right: 0; }

#block-block-1 p, #block-block-1 .block-inner { margin: 0px; }

.breadcrumb-container { height: 130px; }

#breadcrumb { height: 130px; position: relative; background-image: url('../images/background-breadcrumb.png?1344247601'); background-repeat: no-repeat; background-position: top left; }
#breadcrumb .breadcrumb-wrapper { position: absolute; left: 0px; top: 78px; color: #999999; font-size: 10px; text-transform: uppercase; font-family: "DIN Regular", Arial, Helvetica, sans-serif; text-shadow: rgba(153, 153, 153, 0.5) 0px 0px 5px; margin: 0px; }
#breadcrumb .breadcrumb-wrapper #crumbs .crumb a { text-transform: uppercase; font-size: 10px; font-family: "DIN Regular", Arial, Helvetica, sans-serif; line-height: 1em; padding: 0px; text-decoration: none; color: #246ca0; }
#breadcrumb .breadcrumb-wrapper #crumbs .crumb a:hover { text-decoration: underline; }
#breadcrumb .breadcrumb-wrapper #crumbs .crumb a:visited { color: #246ca0; }
#breadcrumb .breadcrumb-wrapper #crumbs .crumb a:focus { color: #246ca0; }
#breadcrumb .breadcrumb-wrapper #crumbs .crumb a:hover { color: #cccccc; }
#breadcrumb .breadcrumb-wrapper #crumbs .crumb a:active { color: #246ca0; }
#breadcrumb .breadcrumb-wrapper #crumbs .crumb .crumb-sepreator { line-height: 1em; }
#breadcrumb .breadcrumb-wrapper #crumbs .crumb .crumb-title { display: block; color: #666666; font-size: 24px; text-transform: uppercase; font-family: "DIN Bold", Arial, Helvetica, sans-serif; line-height: 1em; margin: 0px; }

/* Really small screens and up */
/* @media only screen and (min-width: 220px) {} */
/* Smartphone sizes and up */
/* @media only screen and (min-width: 320px) {} */
/* Smartphone sizes and down */
@media only screen and (max-width: 480px) { /*  Float Region blocks example: In smaller screen sizes we can remove the float and widths so all blocks stack instead of displaying horizonally. The selector used here is an "attribute selector" which will match on any float block class. Use your inspector or Firebug to get the classes from the page output if you need more granular control over block alignment and stacking.  "Float Region blocks" is an extension for floating blocks in regions, see your themes appearance settings, under the Extensions tab. */
  .region[class*="float-blocks"] .block { float: none; width: 100%; } }
/* Tablet sizes and up */
/* @media only screen and (min-width: 768px) {} */
/* Desktops/laptops and up */
/* @media only screen and (min-width: 1025px) {} */
